<div class="cc-widget cc-toolbox-widget" data-ng-controller="AcademicDatesController">
  <div class="cc-widget-title">
    <h2>Academic Dates &amp; Deadlines</h2>
  </div>
  <div class="cc-widget-list">
    <ul class="cc-toolbox-widget-academic-calendar">
      <li class="cc-toolbox-widget-academic-calendar-item" data-ng-repeat="item in academicDates.items">
        <strong class="cc-toolbox-widget-academic-calendar-date" data-ng-bind="item.date"></strong>
        <span data-ng-bind="item.title"></span>
      </li>
    </ul>
  </div>
  <hr>
  <div class="cc-list-link-container">
    <h3>Links</h3>
    <ul class="cc-list-links">
      <li>
        <a class="cc-outbound-link" href="http://registrar.berkeley.edu/CalendarDisp.aspx">
          Subscribe to the Academic Calendar
        </a>
      </li>
      <li>
        <a class="cc-outbound-link" href="http://grad.berkeley.edu/academic-progress/deadlines/">
          Graduate Division Degree Deadlines
        </a>
      </li>
    </ul>
  </div>
</div>
