<div class="cc-widget cc-toolbox-widget" data-ng-controller="DelegateStudentsController">
  <div class="cc-widget-title">
    <h2>Students</h2>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="delegateStudents.isLoading">
    <div id="cc_toolbox_widget_delegate_students" data-ng-if="students.length">
      <ul>
        <li class="cc-flex cc-flex-align-center cc-toolbox-widget-delegate-student" data-ng-repeat="student in students">
          <div class="cc-toolbox-widget-delegate-student-profile">
            <button class="cc-button-link" data-ng-click="delegateStudents.actAs(student.uid)" data-ng-if="student.delegateAccess && student.uid">
              <div data-ng-include="'widgets/delegate_student_img.html'"></div>
            </button>
            <div data-ng-if="!student.delegateAccess || !student.uid" data-ng-include="'widgets/delegate_student_img.html'"></div>
          </div>
          <div class="cc-widget-padding">
            <button class="cc-button-link" data-ng-click="delegateStudents.actAs(student.uid)" data-ng-if="student.delegateAccess && student.uid">
              <span class="cc-text-big" data-ng-bind="student.fullName"></span>
            </button>
            <div data-ng-if="!student.delegateAccess || !student.uid">
              <strong class="cc-text-big" data-ng-bind="student.fullName"></strong>
              <div data-ng-if="student.limitedPrivileges">
                <p class="cc-text-small" data-ng-if="student.privileges.phone">
                  By Phone and In-Person Only
                </p>
                <p class="cc-text-small" data-ng-if="!student.privileges.phone">
                  No Privileges
                </p>
              </div>
              <div data-ng-if="!student.uid">
                <p class="cc-text-small">
                  Account Issue
                </p>
              </div>
              <div data-ng-if="student.selfDelegating">
                <p class="cc-text-small">
                  Cannot Delegate for Self
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <hr>
      <div>
        <p data-ng-if="showPhoneInPersonPrivilegesMessage">
          <strong>
            By Phone and In-Person Only:
          </strong>
          The indicated student(s) have granted you phone and in-person privileges only. You have no online privileges.
        </p>
        <p data-ng-if="showNoPrivilegesMessage">
          <strong>
            No privileges:
          </strong>
          The indicated student(s) have not granted you any privileges.
        </p>
        <p data-ng-if="showAccountIssueMessage">
          <strong>
            Account Issue:
          </strong>
          There is a technical issue with the account for the indicated student(s). It will be resolved as soon as possible. If you have questions, please contact <a href="https://www.ets.berkeley.edu/calcentral-support">CalCentral Support</a>.
        </p>
        <p data-ng-if="showSelfDelegatingMessage">
          <strong>
            Cannot Delegate for Self:
          </strong>
          A technical issue has caused you to be linked as a delegate to your own account. Please check your delegate
          settings at <a href="/profile/delegate">Manage Delegates</a>.  If you have questions, please contact
          <a href="https://www.ets.berkeley.edu/calcentral-support">CalCentral Support</a>.
        </p>
        <p>
          <strong>
            Adding other students:
          </strong>
          Are you a delegate for other students but don't see them listed above? To add them, please follow the
          instructions in the email you received for each of them.
        </p>
      </div>
    </div>
    <div data-ng-if="!students.length">
      <strong>
        You are not currently a delegate for any students.
      </strong>
      If you have been a delegate in the past, your student may have changed your permissions.
    </div>
  </div>
</div>
