<div class="cc-widget cc-widget-profile">
  <div class="cc-widget-title">
    <h2>Personal Summary</h2>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="targetUser.isLoading">
    <div data-ng-if="targetUser.error">
      <h3 data-ng-bind="targetUser.error.summary"></h3>
      <div data-ng-bind="targetUser.error.description"></div>
    </div>
    <div data-ng-if="!targetUser.error">
      <div class="cc-table cc-table-top-border cc-clearfix">
        <table class="cc-widget-profile-table">
          <tbody>
          <tr>
            <th>
              <div data-ng-include="'widgets/delegate_student_img.html'"></div>
            </th>
            <td>
              <div>
                <strong data-ng-bind="targetUser.defaultName"></strong>
                <span class="cc-inline-block">(<button class="cc-button-link" data-ng-click="targetUser.actAs()">view as</button>)</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div data-ng-include="'widgets/academics/college_and_level.html'"></div>

      <div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="targetUser.addresses || targetUser.phones || targetUser.emails">
        <table class="cc-widget-profile-table">
          <tbody>
          <tr>
            <th>Contact Information</th>
            <td>
              <div class="cc-widget-vertical-padding" data-ng-repeat="address in targetUser.addresses">
                <div>
                  <strong data-ng-bind-template="{{address.type.description}} Address"></strong>
                </div>
                <div>
                  <div class="cc-text-pre-line" data-ng-bind="address.formattedAddress"></div>
                  <div data-ng-bind="address.countryCode" data-ng-if="address.countryCode !== 'USA'"></div>
                </div>
              </div>
              <br>
              <div class="cc-widget-vertical-padding" data-ng-repeat="phone in targetUser.phones">
                <div>
                  <strong data-ng-bind-template="{{phone.type.description}} Phone"></strong>
                  <span data-ng-if="phone.primary">(preferred)</span>
                </div>
                <div>
                  <span data-ng-bind="phone.number"></span>
                  <span data-ng-if="phone.extension" data-ng-bind-template="ext. {{phone.extension}}"></span>
                </div>
              </div>
              <br>
              <div class="cc-widget-vertical-padding" data-ng-repeat="email in targetUser.emails">
                <div>
                  <strong data-ng-bind-template="{{email.type.description}} Email"></strong>
                  <span data-ng-if="email.primary">(preferred)</span>
                </div>
                <div class="cc-break-word">
                  <a data-ng-href="mailto:{{email.emailAddress}}" data-ng-bind="email.emailAddress"></a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="cc-table cc-table-top-border cc-clearfix"
      data-cc-spinner-directive="ucAdvisingResources.isLoading">
        <table class="cc-widget-profile-table">
          <tbody>
            <tr>
              <th>
                Advising Resources
              </th>
              <td>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucServiceIndicator.url">
                  <div
                    data-cc-campus-solutions-link-item-directive
                    data-link="ucAdvisingResources.ucAdvisingLinks.ucServiceIndicator"
                  ></div>
                </div>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucStudentAdvisor.url">
                  <div
                    data-cc-campus-solutions-link-item-directive
                    data-link="ucAdvisingResources.ucAdvisingLinks.ucStudentAdvisor"
                    data-text="Advising Assignments"
                  ></div>
                </div>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlannerStudentSpecific.url">
                  <div
                    data-cc-campus-solutions-link-item-directive
                    data-link="ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlannerStudentSpecific"
                  ></div>
                </div>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.schedulePlannerStudentSpecific.url">
                  <a
                    data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.schedulePlannerStudentSpecific.url}}"
                    data-ng-bind="ucAdvisingResources.ucAdvisingLinks.schedulePlannerStudentSpecific.name"></a>
                </div>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.studentAppointments.url">
                  <div
                    data-cc-campus-solutions-link-item-directive
                    data-link="ucAdvisingResources.ucAdvisingLinks.studentAppointments"
                  ></div>
                </div>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.studentAdvisorNotes.url">
                  <div
                    data-cc-campus-solutions-link-item-directive
                    data-link="ucAdvisingResources.ucAdvisingLinks.studentAdvisorNotes"
                  ></div>
                </div>
                <div data-ng-if="ucAdvisingResources.ucAdvisingLinks.studentWebnowDocuments.url">
                  <a
                    data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.studentWebnowDocuments.url}}"
                    data-ng-bind="ucAdvisingResources.ucAdvisingLinks.studentWebnowDocuments.name" data-ng-attr-title="{{ucAdvisingResources.ucAdvisingLinks.studentWebnowDocuments.title}}"></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
