<div>
  <strong>Enrolled Classes</strong>
</div>
<div
  data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks"
  class="cc-flex cc-flex-wrap cc-enrollment-card-enrolled-links"
>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.addEnrolledClasses"
    data-text="Add"
    data-cache="enrollment"
    data-ng-if="enrollmentInstruction.isClassScheduleAvailable && !enrollmentInstruction.isGradeBaseAvailable && !isInstructionType(enrollmentInstruction, ['concurrent'])"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.dropEnrolledClasses"
    data-text="Drop"
    data-cache="enrollment"
    data-ng-if="enrollmentInstruction.isClassScheduleAvailable && !enrollmentInstruction.isGradeBaseAvailable && !isInstructionType(enrollmentInstruction, ['concurrent'])"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.swapEnrolledClasses"
    data-text="Swap"
    data-cache="enrollment"
    data-ng-if="enrollmentInstruction.isClassScheduleAvailable && !enrollmentInstruction.isGradeBaseAvailable && !isInstructionType(enrollmentInstruction, ['concurrent'])"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.gradeBase"
    data-text="Options"
    data-cache="enrollment"
    data-ng-if="enrollmentInstruction.isClassScheduleAvailable && !enrollmentInstruction.isGradeBaseAvailable && !isInstructionType(enrollmentInstruction, ['concurrent'])"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.gradeBase"
    data-text="Change Grading Option"
    data-cache="enrollment"
    data-ng-if="enrollmentInstruction.isGradeBaseAvailable && !isInstructionType(enrollmentInstruction, ['law', 'concurrent'])"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.withdrawFromSemester"
    data-text="Withdraw"
    data-ng-if="enrollmentInstruction.enrollmentPeriod[0] && !isInstructionType(enrollmentInstruction, ['law', 'concurrent'])"
    data-cache="enrollment"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.dropEnrolledClasses"
    data-text="Drop a Class"
    data-cache="enrollment"
    data-disabled="{{enrollmentInstruction.isGradeBaseAvailable}}"
    data-ng-if="enrollmentInstruction.isClassScheduleAvailable && isInstructionType(enrollmentInstruction, ['concurrent'])"
  ></div>
  <div
    data-cc-campus-solutions-link-item-directive
    data-link="enrollmentInstruction.links.gradeBase"
    data-text="Edit Class Options"
    data-cache="enrollment"
    data-ng-if="enrollmentInstruction.isClassScheduleAvailable && isInstructionType(enrollmentInstruction, ['concurrent'])"
  ></div>
</div>

<div data-ng-if="!enrollmentInstruction.enrolledClasses.length">
  You are currently not enrolled in any classes for
  <span data-ng-bind="enrollmentInstruction.termDescr"></span>.
</div>

<div data-ng-if="enrollmentInstruction.enrolledClasses.length">
  <div
    class="cc-table"
    data-ng-class="{'cc-enrollment-card-margin-top' : ($index > 0)}"
    data-ng-repeat="(groupedSectionKey, groupedSection) in enrollmentInstruction.enrolledClassesGrouped"
  >
    <table>
      <thead>
        <th scope="col" width="100px">
          <span class="cc-text-small" data-ng-bind-template="{{groupedSectionKey}}"></span>
          <span class="cc-visuallyhidden">Class</span>
        </th>
        <th scope="col" width="30px" class="cc-table-right-spacing">
          <span class="cc-visuallyhidden">Component</span>
        </th>
        <th scope="col">When</th>
        <th scope="col" class="cc-table-right">Units</th>
      </thead>
      <tbody>
        <tr data-ng-repeat="class in groupedSection">
          <td data-ng-bind="class.subjectCatalog"></td>
          <td data-ng-attr-title="{{class.ssrComponentDescr}}" class="cc-table-right-spacing">
            <span class="cc-visuallyhidden" data-ng-bind-template="{{class.ssrComponentDescr}} -"></span>
            <span data-ng-bind="class.ssrComponent"></span>
          </td>
          <td data-ng-bind="class.when"></td>
          <td class="cc-table-right">
            <span data-ng-if="class.units > 0" data-ng-bind="class.units | number:1"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cc-flex cc-flex-justify-end">
    <div>
      Total Units:
      <strong data-ng-bind="enrollmentInstruction.enrolledClassesTotalUnits | number:1"></strong>
    </div>
  </div>
</div>
