<div data-ng-if="enrollmentTerm.waitlistedClasses.length" class="cc-clearfix cc-enrollment-card-margin-top">
  <div>
    <strong>Waitlisted</strong>
  </div>

  <div class="cc-table">
    <table>
      <thead>
        <th scope="col" class="cc-table-right-spacing">Class</th>
        <th scope="col">Position</th>
        <th scope="col" class="cc-table-right">Units</th>
      </thead>
      <tbody>
        <tr data-ng-repeat="class in enrollmentTerm.waitlistedClasses">
          <td data-ng-bind="class.subjectCatalog" class="cc-table-right-spacing"></td>
          <td data-ng-bind="class.position"></td>
          <td data-ng-bind="class.units | number:1" class="cc-table-right"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="cc-flex cc-flex-justify-end">
    <div>
      Total Units:
      <strong data-ng-bind="enrollmentTerm.waitlistedClassesTotalUnits | number:1"></strong>
    </div>
  </div>
</div>
