<div class="cc-enrollment-card-advisors-consult" data-cc-spinner-directive="enrollment.holds.isLoading">

  <div data-ng-if="enrollment.holds.hasHolds" class="cc-flex">
    <div>
      <i class="fa fa-exclamation-circle cc-icon-red cc-enrollment-card-icon"></i>
    </div>
    <div>
      You have a hold that may affect your ability to enroll in classes. Consult with an advisor.
    </div>
  </div>

  <div data-ng-if="!enrollment.holds.hasHolds">
    Consult with an advisor if you have any questions.
  </div>

  <div data-ng-if="enrollmentTerm.isLawStudent">
    <ul class="cc-list-bullets">
      <li>
        JD students should contact
        <a href="https://www.law.berkeley.edu/students/student-services/">Student Services</a>.
      </li>
      <li>
        LLM and JSD students should contact the Advanced Degree Program Office at
        <a href="mailto:llm@law.berkeley.edu">llm@law.berkeley.edu</a>.
      </li>
      <li>
        JSP students should contact Margo Rodriguez at
        <a href="mailto:mrodriguez@law.berkeley.edu">mrodriguez@law.berkeley.edu</a>.
      </li>
    </ul>
  </div>

</div>
