<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{enrollmentTerm.enrollmentPeriod[0] ? 'Prior to ' + (enrollmentTerm.enrollmentPeriod[0].date.epoch * 1000 | date:'MMM d'): ''}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <div data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks">
    <ul class="cc-list-links" data-ng-if="enrollmentTerm.isClassScheduleAvailable">
      <li>
        <div
          data-cc-campus-solutions-link-item-directive
          data-link="enrollmentTerm.links.scheduleClasses"
          data-cache="enrollment"
        ></div>
      </li>
    </ul>
    <ul class="cc-list-links" data-ng-if="collegeAndLevel.roles.fpf">
      <li>
        <a href="http://fpf.berkeley.edu/your-courses">
          FPF Course Catalog
        </a>
      </li>
      <li>
        <a href="http://guide.berkeley.edu/">
          Berkeley Academic Guide
        </a>
      </li>
    </ul>
    <ul class="cc-list-links" data-ng-if="!collegeAndLevel.roles.fpf">
      <li>
        <a href="http://guide.berkeley.edu/">
          Berkeley Academic Guide
        </a>
      </li>
      <li>
        <a href="http://lsdiscovery.berkeley.edu/">
          Discovery Courses
        </a>
      </li>
      <li>
        <a href="http://bigideascourses.berkeley.edu/">
          Big Ideas Courses
        </a>
      </li>
      <li>
        <a href="http://fss.berkeley.edu/">
          Freshman &amp; Sophomore Seminars
        </a>
      </li>
      <li>
        <a href="http://www.decal.org/">
          DeCal
        </a>
      </li>
      <li>
        <a href="http://www.berkeleyconnect.berkeley.edu/">
          Berkeley Connect
        </a>
      </li>
      <li>
        <a href="https://calstudentstore.berkeley.edu/textbook">Class Textbooks: ASUC Bookstore</a>
      </li>
    </ul>
    <div>
      <h4>ASUC Sponsored Planning Site</h4>
      <ul class="cc-list-links">
        <li><a href="http://www.berkeleytime.com">Berkeleytime</a></li>
      </ul>
    </div>
  </div>
  <div
    data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
    data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
  </div>
</div>
