<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <ul class="cc-list-links">
    <li>
      <a href="https://www.law.berkeley.edu/php-programs/registrar/2yearCurriculumView.php">
        Law Two-Year Curriculum Plan
      </a>
    </li>
    <li>
      <a href="https://www.law.berkeley.edu/php-programs/courses/courseSearch.php">
        Law Schedule of Classes
      </a>
    </li>
  </ul>
</div>
