<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{enrollmentTerm.scheduleOfClassesPeriod.date.epoch * 1000 | date:'MMM d'}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <a
    data-cc-outbound-enabled="true"
    data-ng-href="/college_scheduler/{{enrollmentTerm.acadCareer}}/{{enrollmentTerm.term}}">
    Organize and preview your upcoming semester
  </a>
  based on your scheduling needs.
</div>
