<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="{{enrollmentTerm.enrollmentPeriod[0] ? (enrollmentTerm.scheduleOfClassesPeriod.date.epoch * 1000 | date:'MMM d') : ''}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <div data-ng-if="enrollmentTerm.isClassScheduleAvailable && !isAdvisingStudentLookup && api.user.profile.isDirectlyAuthenticated">
    <p>
      <a data-cc-outbound-enabled="true"
        data-ng-href="/college_scheduler/{{enrollmentTerm.acadCareer}}/{{enrollmentTerm.term}}">
        Organize and preview your upcoming semester
      </a>
      based on your scheduling needs.
    </p>
    <p>
      <a href="http://schedule.berkeley.edu/examf.html">
        Final Exam Schedule
      </a>
    </p>
  </div>

  <div
    data-ng-if="isAdvisingStudentLookup || !api.user.profile.isDirectlyAuthenticated"
    data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
  </div>

  <div data-ng-if="!enrollmentTerm.isClassScheduleAvailable">
    Schedule of classes will be available soon. Please try again later.
  </div>
</div>
