<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <ul class="cc-list-links">
    <li>
      <a href="https://extension.berkeley.edu/portal/logon.do?method=load">
        My Extension Student Account
      </a>
    </li>
    <li>
      <a href="http://extension.berkeley.edu/static/studentservices/concurrent/">
        Concurrent Enrollment Information
      </a>
    </li>
  </ul>
</div>
