<div class="cc-page-widget-profile-section" data-ng-controller="EmergencyContactController" data-cc-spinner-directive="isLoading">

  <div class="cc-page-widget-profile-section-label" data-ng-pluralize count="items.content.length" when="{'1': 'Emergency Contact', 'other': 'Emergency Contacts'}"></div>

  <div class="cc-page-widget-profile-section-content">
    <div data-ng-repeat="emergencyContact in items.content" class="cc-page-widget-profile-section-content-item">
      <div>
        <strong data-ng-bind="emergencyContact.contactName"></strong>
        <span data-ng-if="emergencyContact.relationshipDescr" data-ng-bind-template="- {{emergencyContact.relationshipDescr}}"></span>
        <span data-ng-if="emergencyContact.primaryContact === 'Y'">
          (primary contact)
        </span>
      </div>
      <div data-ng-repeat="emergencyPhone in emergencyContact.emergencyPhones.emergencyPhone">
        <span data-ng-bind="emergencyPhone.phone"></span>
        <p class="cc-visuallyhidden" data-ng-if="emergencyPhone.phoneTypeDescr">
          (<span data-ng-bind-template="{{emergencyPhone.phoneTypeDescr}} phone"></span>)
        </p>
      </div>
      <div data-ng-bind="emergencyContact.emailAddr"></div>
      <div class="cc-text-pre-line cc-page-widget-profile-margin-top" data-ng-bind="emergencyContact.formattedAddress"></div>
    </div>

    <div data-ng-if="!items.content.length" class="cc-page-widget-profile-section-not-available">
      There are no emergency contacts available.
    </div>
  </div>
</div>
