<div class="cc-page-widget-profile-section-emergency-phone-fields">
  <div>
    <label for="cc_page_widget_profile_emergency_phone_type">
      <strong>Phone Type</strong>
    </label>
  </div>

  <div class="cc-page-widget-profile-section-emergency-phone-type-select">
    <div class="cc-page-widget-profile-section-emergency-phone-type-editing" data-ng-if="phone || !emergencyPhone.isAdding">
      <span data-ng-bind="phone.phoneTypeDescr" data-ng-if="phone.availablePhoneTypes.length === 1"></span>
      <div class="cc-select" data-ng-if="phone.availablePhoneTypes.length > 1">
        <select id="cc_page_widget_profile_emergency_phone_type" data-ng-model="phone.phoneType" data-ng-options="type.fieldvalue as type.xlatlongname for type in phone.availablePhoneTypes">
          <option value="" disabled selected>Choose&hellip;</option>
        </select>
      </div>
    </div>
    <div class="cc-page-widget-profile-section-emergency-phone-type-adding" data-ng-if="!phone && emergencyPhone.isAdding">
      <span data-ng-bind="emergencyPhone.currentObject.data.phoneTypeDescr" data-ng-if="emergencyPhone.currentObject.data.availablePhoneTypes.length === 1"></span>
      <div class="cc-select" data-ng-if="emergencyPhone.currentObject.data.availablePhoneTypes.length > 1">
        <select id="cc_page_widget_profile_emergency_phone_type" data-ng-model="emergencyPhone.currentObject.data.phoneType" data-ng-options="type.fieldvalue as type.xlatlongname for type in emergencyPhone.currentObject.data.availablePhoneTypes">
          <option value="" disabled selected>Choose&hellip;</option>
        </select>
      </div>
    </div>
  </div>

  <div>
    <label for="cc_page_widget_profile_emergency_phone">
      <strong>Phone Number</strong>
    </label>
  </div>
  <div>
    <input type="text" id="cc_page_widget_profile_emergency_phone" data-ng-model="phone.phone"
    data-ng-if="phone || !emergencyPhone.isAdding">
    <input type="text" id="cc_page_widget_profile_emergency_phone" data-ng-model="emergencyPhone.currentObject.data.phone" data-ng-if="!phone && emergencyPhone.isAdding">
  </div>

  <div>
    <label for="cc_page_widget_profile_emergency_phone_extension">
      <strong>Phone Extension</strong>
    </label>
  </div>
  <div>
    <input type="text" id="cc_page_widget_profile_emergency_phone_extension" data-ng-model="phone.extension" data-ng-if="phone || !emergencyPhone.isAdding">
    <input type="text" id="cc_page_widget_profile_emergency_phone_extension" data-ng-model="emergencyPhone.currentObject.data.extension" data-ng-if="!phone && emergencyPhone.isAdding">
  </div>
</div>
