<div class="cc-page-widget-profile-section-content">
  <div data-ng-repeat="phone in currentObject.data.emergencyPhones">

    <div class="cc-page-widget-profile-section-content-item" data-ng-if="$first">
      <div data-ng-include="'widgets/profile/emergency_phone_fields.html'"></div>
    </div>

    <div class="cc-page-widget-profile-section-content-item" data-ng-if="!$first">
      <div data-ng-include="'widgets/profile/emergency_phone_editor.html'" data-ng-if="emergencyPhone.items.editorEnabled && phone.isModifying"></div>
      <div class="cc-widget-vertical-padding" data-ng-if="!phone.isModifying || !emergencyPhone.items.editorEnabled">
        <div>
          <strong data-ng-bind="phone.phoneTypeDescr"></strong>
        </div>
        <div>
          <span data-ng-bind="phone.phone"></span>
          <strong data-ng-if="phone.extension">ext:</strong> <span data-ng-bind="phone.extension"></span>
        </div>
        <div>
          <button class="cc-button-link" type="button"
            data-ng-click="emergencyPhone.showEdit(phone)"
            data-ng-disabled="cc_page_widget_profile_emergency_contact.$invalid || emergencyPhone.isAdding || (emergencyPhone.items.editorEnabled && !currentObject.isModifying)">Edit</button>
          <span> | </span>
          <button class="cc-button-link" type="button"
            data-ng-click="emergencyPhone.deletePhone(phone)"
            data-ng-disabled="cc_page_widget_profile_emergency_contact.$invalid || emergencyPhone.isAdding ||  (emergencyPhone.items.editorEnabled && !currentObject.isModifying)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-page-widget-profile-section-content-item">
    <div data-ng-include="'widgets/profile/emergency_phone_editor.html'" data-ng-if="emergencyPhone.items.editorEnabled && emergencyPhone.isAdding"></div>
  </div>

  <button class="cc-button-link" type="button"
    data-ng-click="emergencyPhone.showAdd()"
    data-ng-disabled="cc_page_widget_profile_emergency_contact.$invalid || emergencyPhone.items.editorEnabled || currentObject.isAdding"
    data-ng-if="currentObject.data.emergencyPhones.length < currentObject.data.addPhoneLimit">
    <i class="fa fa-plus cc-text-small"></i> Add additional phone number
  </button>
</div>
