<div class="cc-page-widget-profile-section-content-item-editing" data-ng-if="items.editorEnabled">
  <form data-ng-submit="saveContact(currentObject.data)" name="cc_page_widget_profile_emergency_contact">

    <div>
      <label for="cc_page_widget_profile_emergency_contact_name">
        <strong>Contact Name</strong> <span class="cc-text-light">(Required)</span>
      </label>
    </div>
    <div>
      <input type="text" id="cc_page_widget_profile_emergency_contact_name" data-ng-model="currentObject.data.contactName" required aria-required="true" maxlength="50">
    </div>

    <div>
      <label for="cc_page_widget_profile_emergency_contact_relationship">
        <strong>Relationship</strong> <span class="cc-text-light">(Required)</span>
      </label>
    </div>
    <div class="cc-select">
      <select id="cc_page_widget_profile_emergency_contact_relationship" required aria-required="true" data-ng-if="relationshipTypes" data-ng-model="currentObject.data.relationship" data-ng-options="type.fieldvalue as type.xlatlongname for type in relationshipTypes">
        <option value="" disabled selected>Choose&hellip;</option>
      </select>
    </div>

    <div>
      <label for="cc_page_widget_profile_emergency_contact_email">
        <strong>Email Address</strong>
      </label>
    </div>
    <div>
      <input type="text" id="cc_page_widget_profile_emergency_contact_email" data-ng-model="currentObject.data.emailAddr">
    </div>

    <div data-ng-include="'widgets/profile/emergency_phone.html'"></div>

    <div>
      <label for="cc_page_widget_profile_emergency_contact_country"><strong>Country</strong></label>
    </div>

    <div class="cc-select">
      <select id="cc_page_widget_profile_emergency_contact_country" data-ng-if="countries" data-ng-model="currentObject.data.country" data-ng-options="country.country as country.descr for country in countries">
        <option value="" selected>Choose&hellip;</option>
      </select>
    </div>

    <div data-cc-spinner-directive="currentObject.whileAddressFieldsLoading">
      <div data-ng-repeat="field in currentObject.addressFields" data-ng-if="field.field !== 'country'">
        <div>
          <label data-ng-attr-for="cc_page_widget_emergency_contact_{{field.field}}">
            <strong data-ng-bind="field.label"></strong>
          </label>
        </div>
        <div data-ng-if="field.field !== 'state' || !states.length">
          <input type="text" data-ng-attr-id="cc_page_widget_emergency_contact_{{field.field}}" data-ng-model="currentObject.data[field.field]" data-ng-attr-maxlength="{{field.length}}">
        </div>
        <div data-ng-if="field.field === 'state' && states.length">
          <div class="cc-select">
            <select data-ng-options="state.state as state.descr for state in states" data-ng-attr-id="cc_page_widget_emergency_contact_state" data-ng-model="currentObject.data.state">
              <option value="" selected>Choose {{field.label}}&hellip;</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="cc-widget-vertical-padding">
      <input id="cc_page_widget_profile_emergency_contact_primary" type="checkbox" data-ng-disabled="{{currentObject.data.primaryContact === 'Y'}}" data-ng-model="currentObject.data.primaryContact" data-ng-true-value="'Y'" data-ng-false-value="'N'">
      <label for="cc_page_widget_profile_emergency_contact_primary" data-ng-class="{'cc-text-light':currentObject.data.primaryContact === 'Y'}">Primary Contact</label>
    </div>

    <div class="cc-page-widget-profile-section-error cc-text-red" data-ng-if="errorMessage">
      <i class="cc-icon-red fa fa-exclamation-circle"></i>
      <span data-ng-bind="errorMessage"></span>
    </div>

    <div class="cc-widget-vertical-padding">
      <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="cc_page_widget_profile_emergency_contact.$invalid || isSaving || isDeleting || emergencyPhone.items.editorEnabled">
        <span data-ng-if="!isSaving">Save</span>
        <span data-ng-if="isSaving">Updating&hellip;</span>
      </button>
      <button class="cc-button" type="button" data-ng-click="cancelEdit()" data-ng-disabled="isSaving || isDeleting || emergencyPhone.items.editorEnabled">Cancel</button>
    </div>

    <div class="cc-nowrap" data-ng-if="!currentObject.isAdding">
      (<button class="cc-button-link" type="button" data-ng-click="deleteContact(currentObject.data)" data-ng-disabled="cc_page_widget_profile_emergency_contact.$invalid || isSaving || isDeleting || emergencyPhone.items.editorEnabled">
        <span data-ng-if="!isDeleting">Delete emergency contact</span>
        <span data-ng-if="isDeleting">Deleting&hellip;</span>
      </button>)
    </div>
  </form>
</div>
