<div class="cc-widget-text" data-ng-controller="InformationDisclosureController">
  <p>
    The university's directory information includes personal information such as your address, email, name, phone, and portions of your academic record.
  </p>
  <div data-cc-spinner-directive="ferpa.isLoading">
    <p>
      You may restrict your directory information from being disclosed to third parties by <a data-cc-campus-solutions-link-directive="ferpa.deeplink.url"
      data-cc-campus-solutions-link-directive-enabled="{{ferpa.deeplink.isCsLink}}"
      data-cc-campus-solutions-link-directive-text="ferpa.backToText"
      data-cc-campus-solutions-link-directive-cache="'profile'"
      data-cc-outbound-enabled="false">managing your FERPA restrictions</a>.
    </p>
    <p data-ng-if="!ferpa.deeplink.url || ferpa.isErrored">
      <i class="fa fa-exclamation-triangle cc-icon-red"></i> The "managing your FERPA Restriction" link is currently unavailable. Please try again later.
    </p>
  </div>
  <p>
    To learn more, view <a href="http://registrar.berkeley.edu/GeneralInfo/ferpa.html">UC Berkeley's policy governing disclosure of information from student records</a>.
  </p>
  <p>
    Public directory information can be updated at <a href="https://calnet.berkeley.edu/directory/update/index.pl">https://calnet.berkeley.edu/directory/update/index.pl</a>.
  </p>
</div>
