<div class="cc-widget cc-degree-progress-card" data-ng-controller="DegreeProgressController">
  <div class="cc-widget-title">
    <h2>Degree Progress</h2>
  </div>
  <div class="cc-widget-padding" data-cc-spinner-directive="degreeProgress.isLoading">
    <ul class="cc-list-links">
      <li data-ng-if="degreeProgress.links.advancementFormSubmit.url">
        <div
          data-cc-campus-solutions-link-item-directive
          data-link="degreeProgress.links.advancementFormSubmit"
        ></div>
      </li>
      <li data-ng-if="degreeProgress.links.advancementFormView.url">
        <div
          data-cc-campus-solutions-link-item-directive
          data-link="degreeProgress.links.advancementFormView"
        ></div>
      </li>
    </ul>
    <ul>
      <li data-ng-repeat="plan in degreeProgress.progresses">
        <h3 data-ng-bind="plan.acadPlan + ' &mdash; Graduate Division Milestones'"></h3>
        <div data-ng-repeat="requirement in plan.requirements">
          <h4 data-ng-bind="requirement.name"></h4>
          <span data-ng-bind="requirement.status"></span>&nbsp;<span data-ng-bind="requirement.date"></span>
        </div>
      </li>
    </ul>
  </div>
</div>
