<div class="cc-widget cc-enrollment-verification">
  <div class="cc-widget-title">
    <h2>Select Enrollment Verification Method</h2>
  </div>
  <div data-cc-spinner-directive="enrollmentMessages.isLoading">
    <div data-ng-if="enrollmentMessages.hasMessages">
      <ul class="cc-widget-list">
        <li>
          <div class="cc-enrollment-verification-subtitle">
            <h3>Law Enrollment Verification</h3>
          </div>
          <div class="cc-enrollment-verification-message">
            <span data-ng-bind-html="enrollmentMessages.messages.lawVerification.descrlong"></span>
          </div>
        </li>
        <li>
          <div class="cc-enrollment-verification-subtitle">
            <h3>View or Print My Enrollment Verification Online</h3>
          </div>
          <div class="cc-enrollment-verification-message">
            <span data-ng-bind-html="enrollmentMessages.messages.viewOnline.descrlong"></span>
            <span>NOTE: NSC link will not be available until August 19, 2016 for Fall 2016 enrollment.
              Summer students please visit BearFacts to access self-service enrollment verifications.</span>
          </div>
        </li>
        <li>
          <div class="cc-enrollment-verification-subtitle">
            <h3>Request an Official Verification of Attendance and Degrees</h3>
          </div>
          <div class="cc-enrollment-verification-message">
            <span data-ng-bind-html="enrollmentMessages.messages.requestOfficial.descrlong"></span>
            <span><strong>IMPORTANT NOTE!</strong> The Office of the Registrar does not certify third-party froms seeking information provided on the two
              options listed above.  Many of our partner institutions have already been notified of this new service and associated policies, but feel free
              to <a href="http://registrar.berkeley.edu/Registrar/DisplayMedia.aspx?ID=Service%20Providers%20re%20Verifications.pdf">print this letter</a>
              from the University Registrar and submit it with your verification certificate.
            </span>
          </div>
          <div class="cc-enrollment-verification-link">
            <div data-ng-if="!api.user.profile.features.enrollmentVerificationDeeplink">
              <strong><a data-ng-href="{{enrollmentGoogleLink.url}}" data-ng-attr-title="{{enrollmentGoogleLink.title}}">Request Official Verification</a></strong>
            </div>
            <div data-ng-if="api.user.profile.features.enrollmentVerificationDeeplink">
              <strong>
                <a data-cc-campus-solutions-link-directive="enrollmentCsDeeplink.url"
                data-cc-campus-solutions-link-directive-enabled="{{enrollmentCsDeeplink.isCsLink}}"
                data-cc-campus-solutions-link-directive-text="enrollmentCsDeeplink.backToText"
                data-cc-campus-solutions-link-directive-cache="'academics'"
                data-cc-outbound-enabled="false">Request Official Verification</a>
              </strong>
            </div>
          </div>
        </li>
        <li>
          <div class="cc-enrollment-verification-message cc-enrollment-verification-footer">
            <p>Learn more about <a data-ng-href="{{enrollmentVerificationServices.url}}" data-ng-attr-title="{{enrollmentVerificationServices.title}}">enrollment verification services.</a></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="cc-widget-text" data-ng-if="!enrollmentMessages.hasMessages">
      There was a problem reaching campus services.  Please try again later.
    </div>
  </div>
</div>
