<div class="cc-widget cc-page-myfinances" data-ng-controller="BillingController">
  <div class="cc-widget-title">
    <h2 class="cc-left">
      Billing Summary
      <span class="cc-widget-title-sub cc-text-uppercase" data-ng-if="billing.fallSubheader" data-ng-bind="billing.fallSubheader"></span>
    </h2>
    <a data-ng-if="!billingDetails && billing.data.activity" class="cc-right cc-widget-title-link" href="/billing/details">
      <strong>Details</strong>
    </a>
  </div>

  <div data-cc-spinner-directive="billing.isLoading">
    <ul class="cc-widget-list cc-page-myfinances-account-summary-list" data-ng-show="billing.data.summary">
      <li class="cc-page-myfinances-account-summary-item cc-clearfix-container">
        <div class="small-8 columns cc-print-width-auto">
          <strong data-ng-if="billing.data.summary.amountDueNow >= 0">
            Amount Due Now
          </strong>
          <div data-ng-if="billing.data.summary.pastDueAmount > 0" class="cc-page-myfinances-red cc-page-myfinances-account-summary-subtitle">Includes Past Due Amount of <span data-cc-amount-directive="billing.data.summary.pastDueAmountString"></span>
          </div>
        </div>
        <div class="small-4 columns cc-print-width-auto cc-print-right">
          <div class="cc-page-myfinances-amount">
            <strong data-cc-amount-directive="billing.data.summary.amountDueNowString"></strong>
          </div>
        </div>
        <section class="cc-clearfix-container" data-ng-if="billing.data.summary.chargesNotYetDue !== 0">
          <div class="small-8 columns cc-print-width-auto cc-print-clear">
            Charges Not Yet Due
          </div>
          <div class="small-4 columns cc-print-width-auto cc-print-right">
            <div class="cc-page-myfinances-amount" data-cc-amount-directive="billing.data.summary.chargesNotYetDueString"></div>
          </div>
        </section>
      </li>
      <li class="cc-page-myfinances-account-summary-item cc-clearfix-container" data-ng-if="billing.data.summary.accountBalance">
        <div class="small-8 columns cc-print-width-auto">
          <span data-ng-if="billing.data.summary.accountBalance < 0">Credit Balance</span>
          <span data-ng-if="billing.data.summary.accountBalance >= 0">Account Balance</span>
          <div class="cc-page-myfinances-account-summary-subtitle cc-page-myfinances-light">Includes charges not yet due</div>
        </div>
        <div class="small-4 columns cc-print-width-auto cc-print-right">
          <div class="cc-page-myfinances-amount" data-cc-amount-directive="billing.data.summary.accountBalanceString"></div>
        </div>
      </li>
      <li>
        <div class="cc-page-myfinances-account-summary-buttons cc-print-hide">
          <a class="cc-button"
            data-cc-outbound-enabled="true"
            href="/higher_one/higher_one_url"
            data-ng-disabled="!api.user.profile.isDirectlyAuthenticated && !api.user.profile.canActOnFinances">
            Make Payment <span data-ng-if="billing.fallSubheader" data-ng-bind-template="for {{billing.fallSubheader}}"></span>
          </a>
        </div>
      </li>
      <li>
        <a class="cc-page-myfinances-account-summary-item"
           data-cc-outbound-enabled="true"
           href="/higher_one/higher_one_url"
           data-ng-disabled="!api.user.profile.isDirectlyAuthenticated || !api.user.profile.canActOnFinances"
           data-ng-class="{'cc-page-myfinances-account-summary-item-disabled':(!api.user.profile.isDirectlyAuthenticated || !api.user.profile.canActOnFinances)}">
           View Official Monthly Statement
        </a>
      </li>
    </ul>
    <div data-cc-spinner-directive="billing.isLoadingCars">
      <div class="cc-page-myfinances-billing-summary-footnote cc-text-center" data-ng-if="billingDetails && billing.hasCarsActivity && billing.fallSubheader && !api.user.profile.isCampusSolutionsStudent">
        <a href="/finances/details">View transactions prior to <span data-ng-bind="billing.fallSubheader"></span>.</a>
      </div>
    </div>
  </div>
  <div data-ng-if="billing.isErrored" class="cc-widget-text cc-page-myfinances-account-summary-error">
    There was a problem reaching campus services.  Please try again later.
  </div>
</div>
