<div class="cc-widget cc-enrollment-card">
  <div class="cc-widget-title">
    <h2>
      Class Enrollment
      <span class="cc-widget-title-sub">Summer 2016</span>
    </h2>
  </div>

  <div class="cc-widget-text">
    <h3 class="cc-enrollment-card-header-title">Tele-BEARS for Summer 2016</h3>
    <div>
      More information about enrollment in summer classes may be found on
      <a href="https://telebears.berkeley.edu">Tele-BEARS</a>.
    </div>
    <div class="cc-widget-vertical-padding">
      <i class="fa fa-exclamation-triangle cc-icon-gold" aria-hidden="true"></i> We are in the middle of a large systems migration. If you are a <strong>newly admitted fall undergraduate or graduate student</strong> wanting to enroll in a summer class, you will require a temporary summer ID and password. Please go to the <a href="http://sis.berkeley.edu/navigating-UCB-Student-Systems-Summer-16">Navigating UC Berkeley's Student Systems, Summer '16</a> page.
    </div>
  </div>
</div>
