<div class="cc-enrollment-card" data-ng-controller="EnrollmentCardController" data-cc-spinner-directive="isLoading">
  <div data-ng-if="enrollmentInstructions.length > 0">
    <div class="cc-widget cc-widget-enrollment-card" data-ng-repeat="enrollmentInstruction in enrollmentInstructions" data-ng-if="enrollmentInstruction.enrollmentPeriod">
      <div class="cc-widget-title">
        <h2>
          <span data-ng-if="!isInstructionType(enrollmentInstruction, ['concurrent'])">
            Class Enrollment
          </span>
          <span data-ng-if="isInstructionType(enrollmentInstruction, ['concurrent'])">
            Concurrent Enrollment
          </span>
          <span class="cc-widget-title-sub" data-ng-bind="enrollmentInstruction.termDescr"></span>
        </h2>
      </div>
      <div class="cc-widget-text cc-enrollment-card-advisors-container">
        <div data-ng-include="'widgets/enrollment/consult_advisor.html'"></div>
      </div>
      <div class="cc-widget-text cc-enrollment-card-head">
        <div data-ng-if="!enrollmentInstruction.enrollmentPeriod[0]">
          Please check back regularly for your assigned dates.
        </div>
        <div
          class="cc-flex cc-flex-space-between cc-text-light"
          data-ng-class="{'cc-enrollment-card-margin-top':(!enrollmentInstruction.enrollmentPeriod[0])}">
          <div>
            <strong>Activity</strong>
          </div>
          <div data-ng-if="enrollmentInstruction.enrollmentPeriod[0] && !isInstructionType(enrollmentInstruction, ['law', 'concurrent'])">
            <strong>When</strong>
          </div>
        </div>
      </div>
      <ul class="cc-widget-list cc-widget-list-border-top">
        <li
          data-ng-repeat="section in enrollmentInstruction.sections"
          class="cc-widget-list-hover cc-enrollment-card-section"
          data-ng-class="{'cc-widget-list-hover-opened':(section.show),'cc-widget-list-hover-notriangle':(isInstructionType(enrollmentInstruction, ['concurrent']))}"
          data-cc-accessible-focus-directive
          data-ng-click="toggleSection($event, section, enrollmentInstruction)"
          data-ng-include="'widgets/enrollment/' + section.id + '.html'"
        ></li>
      </ul>
    </div>
  </div>
</div>
