<div>
  <h4 class="show-for-small-only cc-text-light" data-ng-bind="type.title"></h4>
  <div data-ng-repeat="items in finaidAwardsCompare.data[type.id].status.categories[0].itemGroups">
    <div data-ng-repeat="item in items" class="cc-flex cc-flex-space-between">
      <div>
        <strong data-ng-bind="item.title"></strong>
      </div>
      <div>
        <div data-ng-bind="item.value" data-ng-if="item.value"></div>
        <div data-ng-if="item.values">
          <div data-ng-repeat="value in item.values" class="cc-text-right">
            <div data-ng-bind="value.subvalue.join(' &bull; ')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
