<div class="cc-flex cc-flex-space-between-horizontal-5 cc-flex-align-base">
  <h3 data-ng-bind="section.title"></h3>
  <div>
    <button
      class="cc-button-link"
      data-ng-click="api.widget.toggleShow($event, null, finaidAwardsCompare.toggle[section.id], 'Compare Award Packages - ' + section.title)"
    >
      <span data-ng-if="finaidAwardsCompare.toggle[section.id].show">Hide</span>
      <span data-ng-if="!finaidAwardsCompare.toggle[section.id].show">Show</span>
    </button>
  </div>
</div>

<div data-ng-if="finaidAwardsCompare.toggle[section.id].show" class="cc-flex cc-finaid-compare-awards-current-prior-columns">
  <div
    data-ng-repeat="type in finaidAwardsCompare.types"
    data-ng-include="'widgets/finaid_awards_compare_' + section.id + '.html'"
  ></div>
</div>
