<div class="cc-widget cc-widget-exam-schedule" data-ng-if="examSchedule.length">
  <div class="cc-widget-title">
    <h2><span data-ng-bind="widgetSemesterName"></span> Final Exam Schedule</h2>
  </div>
  <div class="cc-widget-padding">
    <div data-ng-repeat="semester in examSchedule">
      <hr data-ng-if="!$first">
      <h3 data-ng-bind="semester.name"></h3>
      <div class="cc-widget-exam-schedule-text" data-ng-if="!semester.cs_data_available && !isUndergraduate">Please check your syllabus for your final exams for your graduate classes.</div>
      <div class="cc-widget-exam-schedule-text" data-ng-if="!semester.cs_data_available && semester.exams">Dates and times are subject to change. Please check your syllabus for the official exam day and time for each class.</div>
      <div class="cc-widget-exam-schedule-text" data-ng-if="!semester.exams && isUndergraduate">No exam schedules listed.</div>
      <div data-ng-repeat="(exam_slot, exam) in semester.exams">
        <div ng-class="{'cc-widget-exam-schedule-conflicts': exam.length > 1 && exam_slot != 'none', 'cc-widget-exam-schedule-time-conflicts-left': exam.length > 1 && exam_slot != 'none'}">
          <div class="cc-widget-exam-schedule-conflicts-text" data-ng-if="exam.length > 1 && exam_slot != 'none'">
            <i class="fa fa-exclamation-triangle cc-icon-gold"></i>
            <strong>Exam Conflict: </strong>Consult with instructors.
          </div>
          <div data-ng-repeat="course in exam" class="cc-widget-exam-schedule-item cc-clearfix-container">
            <div class="cc-widget-exam-schedule-time cc-left">
              <span data-ng-bind="course.exam_date"></span><br>
              <span data-ng-bind="course.exam_time" class="cc-text-small cc-text-light"></span>
            </div>
            <div class="cc-widget-exam-schedule-content">
              <strong data-ng-bind="course.name"></strong>
              <span data-ng-if="course.waitlisted">(waitlisted)</span>
              <div class="cc-text-small" data-ng-bind="course.exam_location"></div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
