<div class="cc-flex cc-finaid-compare-awards-current-prior-headers">
  <div>
    <strong>Prior Package Date:</strong>
    <span data-ng-bind="finaidAwardsCompare.selected.package.date.epoch * 1000 | date:'MMM dd, yyyy - hh:mma'"></span>
  </div>
  <div>
    <strong>Current Package Date:</strong>
    <span data-ng-bind="api.date.now | date:'MMM dd, yyyy'"></span>
  </div>
</div>

<div class="cc-widget-text" data-cc-spinner-directive="finaidAwardsCompare.isLoadingCurrentAndPrior">
  <div
    data-ng-repeat="section in finaidAwardsCompare.sections"
    data-ng-include="'widgets/finaid_awards_compare_section.html'"
  ></div>
</div>
