<div class="cc-widget-text">
  <h3>Choose Aid Year and Package to Compare with Current Package {{finaidAwardsCompare.showInformation}}</h3>

  <div data-ng-if="finaidAwardsCompare.information.show">
    The "Current Package" refers to your financial aid award package for the current year. When comparing packages from a previous aid year, the "Current Package" will be the last package from that same aid year. The "Prior Package" refers to the package you choose to compare with the "Current Package". The "Prior Package" you choose can be any package from the same aid year.
  </div>

  <button
    class="cc-button-link"
    data-ng-click="api.widget.toggleShow($event, null, finaidAwardsCompare.information, 'Financial Aid Awards - Compare')">
    <span data-ng-if="!finaidAwardsCompare.information.show">Show</span>
    <span data-ng-if="finaidAwardsCompare.information.show">Hide</span>
    Information
  </button>

  <div class="cc-widget-finaid-summary cc-finaid-compare-awards-margin-top" data-ng-controller="FinaidSummaryController">
    <div data-cc-spinner-directive="finaidSummaryInfo.isLoadingOptions">
      <div data-ng-if="finaidSummary.finaidYears.length">
        <div data-ng-include="'widgets/finaid_summary_aidyear.html'"></div>
      </div>
    </div>
  </div>

  <div class="cc-clearfix-container cc-finaid-compare-awards-margin-top">
    <div class="cc-widget-finaid-summary-label cc-left">
      <strong>Time Period:</strong>
    </div>

    <div data-ng-bind="finaidAwardsCompare.data.list.timePeriod"></div>
  </div>

  <div class="cc-clearfix-container cc-finaid-compare-awards-margin-top">
    <div class="cc-widget-finaid-summary-label cc-left">
      <label for="cc-widget-finaid-awards-compare-list">
        <strong>Package to Compare:</strong>
      </label>
    </div>
    <div class="cc-select cc-finaid-compare-awards-packages-select" data-ng-if="finaidAwardsCompare.data.list.data.length">
      <select
        data-ng-options="item as item.date.epoch * 1000 | date:'MMM dd, yyyy - hh:mma' for item in finaidAwardsCompare.data.list.data"
        data-ng-model="finaidAwardsCompare.selected.package"
        id="cc-widget-finaid-awards-compare-list">
      </select>
    </div>
    <div data-ng-if="!finaidAwardsCompare.data.list.data.length">
      <i class="fa fa-exclamation-triangle cc-icon-gold"></i>
      There are no packages available for {{finaidAwardsCompare.selected.aidYear.name}}
    </div>
  </div>
</div>
