<div class="cc-widget cc-widget-finaid-awards-compare" data-ng-controller="FinaidAwardsCompareController">
  <div class="cc-widget-title">
    <h2>Compare Award Packages</h2>
  </div>
  <div data-cc-spinner-directive="finaidAwardsCompare.isLoading">
    <div data-ng-if="finaidAwardsCompare.errored" class="cc-widget-text" data-ng-include="'widgets/finaid_errored.html'"></div>
    <div data-ng-if="!finaidAwardsCompare.errored">
      <div data-ng-include="'widgets/finaid_awards_compare_selection.html'"></div>
      <div data-ng-include="'widgets/finaid_awards_compare_current_prior.html'" data-ng-if="finaidAwardsCompare.showCurrentAndPrior"></div>
    </div>
  </div>
</div>
