<div class="cc-widget cc-widget-myadvising" data-ng-controller="MyAdvisingController">
  <div class="cc-widget-title">
    <h2 class="cc-left">Advising</h2>
    <a class="cc-button cc-right cc-widget-title-button"
      data-ng-if="api.user.profile.features.csAdvisingLinks"
      data-cc-campus-solutions-link-directive="myAdvising.links.newAppointment.url"
      data-cc-campus-solutions-link-directive-enabled="{{myAdvising.links.newAppointment.isCsLink}}"
      data-cc-campus-solutions-link-directive-text="myAdvising.links.newAppointment.backToText"
      data-cc-campus-solutions-link-directive-cache="'myAdvising'"
      data-cc-outbound-enabled="false"
      data-ng-disabled="!myAdvising.links.newAppointment.url || !api.user.profile.isDirectlyAuthenticated || isAdvisingStudentLookup"
    >
      <i class="fa fa-plus cc-button-plus-icon"></i>
      <span>New Appointment</span>
    </a>
  </div>

  <div data-cc-spinner-directive="myAdvising.isLoading()">
    <div class="cc-widget-padding">

      <div data-ng-if="myAdvising.errored">
        There was an error retrieving advising data.
      </div>

      <div data-ng-if="!myAdvising.errored">

        <div data-ng-if="!showAdvisorsList()">
          <div data-ng-if="myAdvising.roles.haasFullTimeMba && !myAdvising.roles.haasMbaPublicHealth && !myAdvising.roles.haasMbaJurisDoctor">
            <a href="http://www.haas.berkeley.edu/MBA/contacts/index.html">
              Contact the Full-time MBA Program Office
            </a>
          </div>

          <div data-ng-if="myAdvising.roles.haasEveningWeekendMba">
            <a href="http://haas.berkeley.edu/EWMBA/contacts/">
              Contact the Evening and Weekend MBA Program Office
            </a>
          </div>

          <div data-ng-if="myAdvising.roles.haasExecMba">
            <a href="http://haas.berkeley.edu/EMBA/contacts/">
              Contact the Berkeley MBA For Executives Program Office
            </a>
          </div>

          <div data-ng-if="myAdvising.roles.haasMastersFinEng">
            <a href="http://www.haas.berkeley.edu/MFE/">
              Contact the Master of Financial Engineering Program Office
            </a>
          </div>

          <div data-ng-if="myAdvising.roles.haasMbaPublicHealth">
            Contact the appropriate degree program office at Haas or Public Health:
            <ul class="cc-list-bullets">
              <li>
                <a href="http://www.haas.berkeley.edu/MBA/contacts/index.html">Haas</a>
              </li>
              <li>
                <a href="http://sph.berkeley.edu/areas-study/health-policy-management">Public Health</a>
              </li>
            </ul>
          </div>

          <div data-ng-if="myAdvising.roles.haasMbaJurisDoctor">
            Contact the appropriate degree program office at Haas or Law:
            <ul class="cc-list-bullets">
              <li>
                <a href="http://www.haas.berkeley.edu/MBA/contacts/index.html">Haas</a>
              </li>
              <li>
                <a href="https://www.law.berkeley.edu/students/student-services/">Law</a>
              </li>
            </ul>
          </div>
        </div>

        <div data-ng-if="showAdvisorsList()">
          <div class="cc-widget-myadvising-section"
            data-ng-repeat="advisor in myAdvising.advisors"
            data-ng-if="myAdvising.advisors.length > 0">
            <div>
              <strong data-ng-bind="advisor.assignedAdvisorType"></strong> (<span data-ng-bind="advisor.assignedAdvisorProgram"></span>)
            </div>
            <div>
              <span data-ng-bind="advisor.assignedAdvisorName"></span>
            </div>
            <div>
              <a data-ng-href="mailto:{{advisor.assignedAdvisorEmail}}"
                data-ng-bind="advisor.assignedAdvisorEmail"
                data-ng-disabled="!advisor.assignedAdvisorEmail || !api.user.profile.isDirectlyAuthenticated || isAdvisingStudentLookup"
              ></a>
            </div>
            <div data-ng-bind="advisor.assignedAdvisorLocation"></div>
          </div>
          <div class="cc-widget-myadvising-section" data-ng-if="myAdvising.advisors.length === 0">
            No advisors are currently assigned to you
          </div>
        </div>

        <div class="cc-widget-myadvising-section" data-ng-if="myAdvising.actionItems.length">
          <h3 class="cc-widget-myadvising-header">Action Items</h3>
          <ul class="cc-widget-list cc-widget-myadvising-list">
            <li data-ng-repeat="actionItem in myAdvising.actionItems"
                data-ng-class="{'cc-widget-list-selected': actionItem.show}">
              <div class="cc-widget-list-hover cc-widget-myadvising-list-item"
                   data-ng-class="{'cc-widget-list-hover-opened': (actionItem.show)}"
                   data-cc-accessible-focus-directive
                   data-ng-click="api.widget.toggleShow($event, myAdvising.actionItems, actionItem, 'Advising Action Items')">
                <div class="cc-left" data-ng-bind="actionItem.actionItemTitle"></div>
                <div class="cc-right" data-ng-if="actionItem.actionItemDueDate">
                  Due <span data-ng-bind="actionItem.actionItemDueDate.dateString"></span>
                </div>
                <div class="cc-clearfix " data-ng-if="actionItem.show">
                  <div class="cc-widget-myadvising-list-subitem" data-ng-if="actionItem.actionItemAssignedDate">
                    Assigned on <span data-ng-bind="actionItem.actionItemAssignedDate.dateString"></span>
                    <span data-ng-if="actionItem.actionItemAssignedAdvisor" data-ng-bind-template="by {{actionItem.actionItemAssignedAdvisor}}"></span>
                  </div>
                  <div class="cc-widget-myadvising-list-subitem" data-ng-bind-html="actionItem.actionItemDescription"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="cc-widget-myadvising-section" data-ng-if="api.user.profile.features.csAdvisingLinks && myAdvising.links">
          <h3 class="cc-widget-myadvising-header">Appointments</h3>
          <div class="cc-widget-myadvising-link">
            <div
              data-cc-campus-solutions-link-item-directive
              data-link="myAdvising.links.manageAppointments.url"
              data-text="Access and Manage My Appointments"
              data-ng-if="myAdvising.links.manageAppointments.url"
              data-disabled="{{!myAdvising.links.manageAppointments.url || !api.user.profile.isDirectlyAuthenticated || isAdvisingStudentLookup}}"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
