<div class="cc-widget cc-status-holds">
  <div class="cc-widget-title">
    <h2 data-ng-bind="statusHoldsBlocks.enabledSections | andFilter"></h2>
  </div>

  <div class="cc-widget-padding">
    <h3 class="cc-status-holds-status-header">Status</h3>

    <div data-cc-spinner-directive="regStatus.isLoading">
      <div data-ng-if="(statusHoldsBlocks.enabledSections.indexOf('Status') !== -1) && !api.user.profile.roles.concurrentEnrollmentStudent">
        <div class="cc-status-holds-section" data-ng-repeat="registration in regStatus.registrations | orderBy:'-id'">
          <div data-ng-if="registration.isLegacy || (registration.positiveIndicators.S09 && !registration.pastEndOfInstruction)">
            <h4 data-ng-bind="registration.name"></h4>
            <ul class="cc-widget-list cc-status-holds-list" data-ng-if="api.user.profile.features.regstatus">
              <li class="cc-widget-list-hover"
                  data-ng-class="{'cc-widget-list-hover-opened':(registration.show)}"
                  data-cc-accessible-focus-directive
                  data-ng-click="api.widget.toggleShow($event, null, registration, 'My Academics - Status and Holds')">
                <div class="cc-status-holds-list-section">
                  <div class="cc-status-holds-list-item">
                    <span data-ng-hide="registration.isSummer && registration.summary === 'Not Officially Registered'">
                      <i class="cc-icon fa"
                         data-ng-class="{true:'fa-check-circle cc-icon-green',false:'fa-exclamation-circle cc-icon-red'}[registration.summary=='Officially Registered']">
                      </i>
                    </span>
                    <span data-ng-bind="registration.summary"></span>
                  </div>
                  <div class="cc-status-holds-expanded-text" data-ng-show="registration.show">
                    <div data-ng-if="registration.summary === 'Officially Registered' || registration.isSummer">
                      <span data-ng-bind="registration.explanation"></span>
                    </div>
                    <div data-ng-if="registration.summary !== 'Officially Registered' && !registration.isSummer">
                      <div data-ng-if="$parent.regStatus.messages">
                        <span data-ng-if="registration.summary === 'Not Officially Registered'" data-ng-bind-html="$parent.regStatus.messages.notRegistered.descrlong"></span>
                        <span data-ng-if="registration.summary === 'Not Enrolled' && api.user.profile.roles.undergrad" data-ng-bind-html="$parent.regStatus.messages.notEnrolledUndergrad.descrlong"></span>
                        <span data-ng-if="registration.summary === 'Not Enrolled' && (api.user.profile.roles.graduate || api.user.profile.roles.law)" data-ng-bind-html="$parent.regStatus.messages.notEnrolledGrad.descrlong"></span>
                      </div>
                      <span data-ng-if="!$parent.regStatus.messages || api.user.profile.roles.advisor" data-ng-bind="registration.explanation"></span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="cc-widget-list-hover"
                  data-ng-if="(api.user.profile.roles.undergrad && !registration.pastClassesStart) ||
                  ((api.user.profile.roles.graduate || api.user.profile.roles.law || api.user.profile.roles.advisor) && !registration.pastAddDrop) &&
                  !registration.isLegacy && !registration.isSummer"
                  data-ng-class="{'cc-widget-list-hover-opened':(registration.positiveIndicators.show)}"
                  data-cc-accessible-focus-directive
                  data-ng-click="api.widget.toggleShow($event, null, registration.positiveIndicators, 'My Academics - Status and Holds')">
                <div class="cc-status-holds-list-section">
                  <div class="cc-status-holds-list-item">
                      <i class="cc-icon fa fa-check-circle cc-icon-green"
                         data-ng-if="registration.positiveIndicators.R99">
                      </i>
                      <i class="cc-icon fa"
                         data-ng-if="!registration.positiveIndicators.R99"
                         data-ng-class="{true:'fa-exclamation-circle cc-icon-red',false:'fa-exclamation-triangle cc-icon-gold'}[registration.pastFinancialDisbursement]">
                      </i>
                    </span>
                    <span data-ng-if="registration.positiveIndicators.R99">Exception from Cancel for Non-Payment</span>
                    <span data-ng-if="!registration.positiveIndicators.R99 && !registration.pastFinancialDisbursement">Cancel for Non-Payment Notification</span>
                    <span data-ng-if="!registration.positiveIndicators.R99 && registration.pastFinancialDisbursement">Cancel for Non-Payment Warning</span>
                  </div>
                  <div class="cc-status-holds-expanded-text" data-ng-show="registration.positiveIndicators.show">
                    <span data-ng-if="registration.positiveIndicators.R99">
                      You have an exception from Cancellation for Non-Payment (CNP) for this term.  You will not be dropped from your classes for this term.
                      You remain financially responsible for all charges on your Student Account.  Please monitor your communications and tasks in CalCentral for updates.
                    </span>
                    <div data-ng-if="!registration.positiveIndicators.R99">
                      <span data-ng-if="$parent.regStatus.messages">
                        <span data-ng-if="!registration.pastFinancialDisbursement && api.user.profile.roles.undergrad" data-ng-bind-html="$parent.regStatus.messages.cnpNotificationUndergrad.descrlong"></span>
                        <span data-ng-if="!registration.pastFinancialDisbursement && (api.user.profile.roles.graduate || api.user.profile.roles.law)" data-ng-bind-html="$parent.regStatus.messages.cnpNotificationGrad.descrlong"></span>
                        <span data-ng-if="registration.pastFinancialDisbursement && api.user.profile.roles.undergrad" data-ng-bind-html="$parent.regStatus.messages.cnpWarningUndergrad.descrlong"></span>
                        <span data-ng-if="registration.pastFinancialDisbursement && (api.user.profile.roles.graduate || api.user.profile.roles.law)" data-ng-bind-html="$parent.regStatus.messages.cnpWarningGrad.descrlong"></span>
                      </span>
                      <span data-ng-if="!$parent.regStatus.messages || api.user.profile.roles.advisor">You may be subject to <a href="http://registrar.berkeley.edu/cnp">Cancel for Non-Payment.</a></span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div data-cc-spinner-directive="residency.isLoading">
      <div class="cc-status-holds-section">
        <div data-ng-if="residency.official.description">
          <h4>California Residency</h4>
          <ul class="cc-widget-list cc-status-holds-list">
            <li class="cc-widget-list-hover"
                data-ng-class="{'cc-widget-list-hover-opened':(residency.show)}"
                data-cc-accessible-focus-directive
                data-ng-click="api.widget.toggleShow($event, null, residency, 'My Academics - Status and Holds')">
              <div class="cc-status-holds-list-section">
                <div class="cc-status-holds-list-item">
                  <i class="cc-icon fa fa-exclamation-circle cc-icon-red" aria-hidden="true" data-ng-if="residency.official.code === ''"></i>
                  <i class="cc-icon fa fa-warning cc-icon-gold" aria-hidden="true" data-ng-if="residency.official.code === 'PEND'"></i>
                  <i class="cc-icon fa fa-check-circle cc-icon-green" aria-hidden="true" data-ng-if="residency.official.code === 'NON' || residency.official.code === 'RES'"></i>
                  <span data-ng-bind="residency.official.description"></span>
                </div>
                <div class="cc-status-holds-expanded-text" data-ng-show="residency.show" data-ng-include="'california_residency_status.html'"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div data-ng-if="statusHoldsBlocks.enabledSections.indexOf('Holds') !== -1">
      <h3>Active Holds</h3>
      <div data-ng-include="'widgets/holds.html'"></div>
    </div>

    <div data-ng-if="statusHoldsBlocks.enabledSections.indexOf('Blocks') !== -1">
      <h3 class="cc-status-holds-holds-header">Active Blocks</h3>
      <div data-ng-if="!regblocks.errored">
        <div data-ng-include="'academics_regblocks.html'"></div>
      </div>
      <div data-ng-if="regblocks.errored">
        <i class="fa fa-exclamation-triangle cc-icon-red cc-errored"></i> Block message is currently unavailable.
      </div>
    </div>

  </div>
</div>
