<div class="cc-widget cc-print-hide" data-ng-controller="StudentResourcesController">
  <div class="cc-widget-title">
    <h2>Student Resources</h2>
  </div>
  <div data-cc-spinner-directive="isLoading">
    <div class="cc-widget-padding" data-ng-if="!studentResources">
      Resource links unavailable.
    </div>
    <div class="cc-widget-padding" data-ng-if="studentResources">
      <h3>General Forms</h3>
      <ul class="cc-list-bullets">
        <li data-ng-if="studentResources.changeOfAcademicPlanAdd.url">
          <div>
            <a class="cc-inline-block" data-ng-href="{{studentResources.changeOfAcademicPlanAdd.url}}" data-ng-bind="studentResources.changeOfAcademicPlanAdd.name" data-ng-attr-title="{{studentResources.changeOfAcademicPlanAdd.title}}"></a>
            <span data-ng-if="studentResources.changeOfAcademicPlanView.url"> (<a data-ng-href="{{studentResources.changeOfAcademicPlanView.url}}" data-ng-attr-title="{{studentResources.changeOfAcademicPlanView.title}}">view submitted forms</a>)</span>
          </div>
          <span>Add, drop, or modify your major, minor, subplan, graduation term, designated emphasis, or degree.</span>
        </li>
        <li data-ng-if="studentResources.emergencyLoanFormAdd.url">
          <div>
            <a class="cc-inline-block" data-ng-href="{{studentResources.emergencyLoanFormAdd.url}}" data-ng-bind="studentResources.emergencyLoanFormAdd.name" data-ng-attr-title="{{studentResources.emergencyLoanFormAdd.title}}"></a>
            <span data-ng-if="studentResources.emergencyLoanFormView.url"> (<a data-ng-href="{{studentResources.emergencyLoanFormView.url}}" data-ng-attr-title="{{studentResources.emergencyLoanFormView.title}}">view submitted applications</a>)</span>
          </div>
        </li>
        <li data-ng-if="studentResources.withdrawFromSemesterAdd.url && !isLawStudent">
          <a data-ng-href="{{studentResources.withdrawFromSemesterAdd.url}}" data-ng-attr-title="{{studentResources.withdrawFromSemesterAdd.title}}">Withdraw from a Semester</a>
        </li>
        <li data-ng-if="studentResources.veteransBenefitsAdd.url">
          <a data-ng-href="{{studentResources.veteransBenefitsAdd.url}}" data-ng-attr-title="{{studentResources.veteransBenefitsAdd.title}}">Veterans Benefits Intake</a>
        </li>
      </ul>
    </div>
  </div>
</div>
