<div data-ng-controller="TransferCreditController" data-cc-spinner-directive="transferCredit.isLoading" class="cc-transfer-credit">
  <div class="cc-widget" data-ng-if="transferCredit.hasCredit">
    <div class="cc-widget-title">
      <h2>Transfer Credit</h2>
    </div>
    <div class="cc-flex cc-flex-space-between cc-text-light cc-widget-text cc-widget-transfercredit-headings">
      <div>
        <strong>Type</strong>
      </div>
      <div>
        <strong>Units</strong>
      </div>
    </div>
    <ul class="cc-widget-list cc-widget-transfercredit-units">
      <li class="cc-widget-vertical-padding">Transfer Units
        <div class="cc-right">
          <span data-ng-bind="transferCredit.cumulativeUnits.unitsTransferAccepted"></span>
          <span data-ng-if="transferCredit.cumulativeUnits.unitsTransferAccepted < transferCredit.cumulativeUnits.unitsTransferEarned">
            (Non-Adjusted: <span data-ng-bind="transferCredit.cumulativeUnits.unitsTransferEarned"></span>)
          </span>
        </div>
      </li>
      <li class="cc-widget-vertical-padding">Test Units <span class="cc-right" data-ng-bind="transferCredit.cumulativeUnits.unitsTest"></span></li>
      <li class="cc-widget-vertical-padding">Other Units <span class="cc-right" data-ng-bind="transferCredit.cumulativeUnits.unitsOther"></span></li>
    </ul>
  </div>
</div>
