<div data-ng-controller="TransferCreditController" data-cc-spinner-directive="transferCredit.isLoading" class="cc-transfer-credit">
  <div class="cc-widget" data-ng-if="transferCredit.hasCredit">
    <div class="cc-widget-title">
      <h2>Transfer Credit</h2>
    </div>
    <div class="cc-flex cc-flex-space-between cc-text-light cc-widget-text cc-widget-transfercredit-headings">
      <div>
        <strong>Type</strong>
      </div>
      <div>
        <strong>Units</strong>
      </div>
    </div>
    <ul class="cc-widget-list cc-widget-transfercredit-list">
      <li data-ng-repeat="creditType in transferCredit.creditTypes"
          data-ng-class="{'cc-widget-list-selected': creditType.show}"
          data-ng-include="'widgets/transfer_credit_list_item.html'"></li>
    </ul>
  </div>
</div>
