<div class="cc-widget-padding cc-widget-webcast-content" data-ng-controller="WebcastController">
  <div data-cc-spinner-directive></div>
  <div data-ng-bind="proxyErrorMessage"></div>
  <div data-ng-if="!proxyErrorMessage">
    <h1 class="cc-visuallyhidden" data-ng-if="isEmbedded">Course Captures</h1>
    <div data-ng-if="eligibleForSignUp && eligibleForSignUp.length" class="bc-tab-navigation">
      <ul data-ng-if="videos || audio" class="bc-tab-group cc-clearfix-container" role="tablist">
        <li class="bc-tab"
            data-ng-class="{'bc-tab-active':(currentTabSelection === tabOption)}"
            data-ng-repeat="tabOption in outerTabOptions">
          <a data-ng-click="switchTabOption(tabOption)"
            ng-attr-aria-selected="{{currentTabSelection === tabOption}}"
            role="tab"
            data-ng-bind="tabOption">
          </a>
        </li>
      </ul>
      <div data-ng-if="currentTabSelection === 'Course Capture Sign-up'">
        <h1 class="cc-visuallyhidden" data-ng-if="isEmbedded">Course Capture Sign-up</h1>
        <div data-ng-if="userCanSignUpOneOrMore">
          <p>
            The following classes are eligible for Course Capture.
            <a href="http://www.ets.berkeley.edu/discover-services/course-capture">Find out more about Course Capture</a>.
          </p>
          <p>
            If you wish to record any class below, please use the adjacent link(s) to schedule recordings. Please sign
            up before the semester starts to avoid missing recordings. Deadline for sign-ups is 4th week of classes. If
            you do not intend to record, you can hide this tool by going to <i>Settings &gt; Navigation</i> and
            dragging the Course Captures tool out of the list.
          </p>
        </div>
        <div data-ng-if="!userCanSignUpOneOrMore">
          Classes in this course site that you teach are eligible for Course Capture but have not been signed up yet.
          <a href="http://www.ets.berkeley.edu/discover-services/course-capture">Find out more about Course Capture</a>.
          Only instructors of record can sign up. If you wish to record any class below, please talk to the instructor
          of record for the classes you wish to record.
        </div>
        <div data-ng-repeat="eligible in eligibleForSignUp">
          <span data-ng-bind-template="{{eligible.deptName}} {{eligible.catalogId}} {{eligible.instructionFormat}} {{eligible.sectionNumber}}"></span>
          <span data-ng-if="eligible.userCanSignUp">
              | <a data-ng-href="{{eligible.signUpURL}}">Sign up</a>
          </span><br>
          <span data-ng-if="eligible.webcastAuthorizedInstructors && eligible.webcastAuthorizedInstructors.length > 1">
            This class has co-instructors. All qualified instructors must sign up before classes are recorded.
          </span>
        </div>
      </div>
    </div>
    <div data-ng-if="currentTabSelection === 'Course Captures'">
      <div data-ng-if="(!eligibleForSignUp || !eligibleForSignUp.length) && !videos && !audio">
        There are no recordings available.
      </div>
      <div data-ng-if="videos || audio" class="bc-tab-navigation">
        <ul class="bc-tab-group cc-clearfix-container" data-ng-if="videos.length && audio.length" role="tablist">
          <li class="bc-tab"
            data-ng-class="{'bc-tab-active':(currentSelection === selectOption)}"
            data-ng-repeat="selectOption in selectOptions">
            <a data-ng-click="switchSelectedOption(selectOption)"
              ng-attr-aria-selected="{{currentSelection === selectOption}}"
              role="tab"
              data-ng-bind="selectOption">
            </a>
          </li>
        </ul>
        <div data-ng-if="currentSelection === 'Video'">
          <div data-ng-if="media.length">
            <div class="cc-table cc-webcast-table" data-ng-repeat="section in media">
              <h3 data-ng-class="{'cc-widget-section-header': !$first}" data-ng-bind-template="{{section.deptName + ' ' + section.catalogId + ' ' + section.instructionFormat + ' ' + section.sectionNumber}}" data-ng-if="media.length > 1"></h3>

              <div class="cc-widget-webcast-alert" data-ng-if="section.videos.length">
                <i class="fa fa-exclamation-triangle cc-icon-gold"></i>
                <strong>Alert: </strong>
                Log in to YouTube with your bConnected account to watch the videos below. More information is at
                our <a href="https://berkeley.service-now.com/kb_view.do?sysparm_article=KB0011469">help page</a>.
              </div>

              <div data-ng-if="!section.videos.length && !section.audio.length">
                <span data-ng-if="media.length > 1">Recordings will appear here after classes start.</span>
                <div data-ng-if="media.length === 1">
                  Recordings of
                  <span data-ng-bind-template="{{section.deptName + ' ' + section.catalogId + ' ' + section.instructionFormat + ' ' + section.sectionNumber}}"></span>
                  will appear here after classes start.
                </div>
              </div>
              <table data-ng-if="section.videos.length">
                <thead>
                  <tr>
                    <th width="60%" scope="col">
                      Lecture
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="video in section.videos | limitTo: futureLimit">
                    <td class="cc-table-top-border">
                      <a data-ng-href="https://www.youtube.com/watch?v={{video.youTubeId}}"
                        data-ng-attr-title="{{video.lecture}}"
                        data-ng-bind="video.lecture">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div data-cc-show-more-directive
                data-cc-show-more-list="section.videos"
                data-cc-show-more-limit="futureLimit"></div>
            </div>
          </div>
          <ul class="cc-widget-webcast-links" data-ng-if="iTunes.video">
            <li class="cc-widget-webcast-itunes-link">
              Also available at
              <a data-ng-href="{{iTunes.video}}">
                <i class="fa fa-apple cc-widget-webcast-icon-link"></i> iTunes U
              </a>
            </li>
          </ul>
          <div data-ng-if="audio.length && !videos.length && !iTunes.video" class="cc-widget-webcast-error">
            No video content available.
          </div>
        </div>
        <div data-ng-show="currentSelection === 'Audio'">
          <div data-ng-show="audio.length">
            <div class="cc-select cc-widget-webcast-select">
              <label for="cc-widget-webcast-audio-selection" class="cc-visuallyhidden">Select Audio</label>
              <select id="cc-widget-webcast-audio-selection"
                class="bc-canvas-embedded-form-select"
                data-ng-model="selectedAudio"
                data-ng-change="announceAudioSelect()"
                data-ng-options="item.title for item in audio"></select>
            </div>
            <div class="cc-widget-webcast-audio" controls>
              <div data-cc-audio-directive="selectedAudio.playUrl"></div>
            </div>
          </div>
          <ul class="cc-widget-webcast-links">
            <li data-ng-if="selectedAudio.downloadUrl">
              <a data-ng-href="{{selectedAudio.downloadUrl}}">
                <i class="fa fa-download cc-widget-webcast-icon-link"></i> Download audio
              </a>
            </li>
            <li data-ng-if="iTunes.audio" class="cc-widget-webcast-itunes-link">
              Also available at
              <a data-ng-href="{{iTunes.audio}}">
                <i class="fa fa-apple cc-widget-webcast-icon-link"></i> iTunes U
              </a>
            </li>
          </ul>
          <div data-ng-if="(!audio || !audio.length) && !iTunes.audio" class="cc-widget-webcast-error">
            No audio content available.
          </div>
        </div>
        <div class="cc-widget-webcast-outbound-link"
          data-ng-if="(videos && videos.length) || (audio && audio.length)">
          <a href="http://www.ets.berkeley.edu/find-support/request-forms/request-support-or-give-feedback">Report a problem</a>
        </div>
      </div>
    </div>
  </div>
</div>
