<ul class="cc-list-links">
  <li data-ng-if="api.user.profile.features.csAcademicProgressReport && ucAdvisingResources.ucAdvisingLinks.ucAcademicProgressReport.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucAcademicProgressReport.url"
      data-text="Academic Progress Report"
    ></div>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucServiceIndicator.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucServiceIndicator"
    ></div>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucStudentAdvisor.url">
    <a
      data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.ucStudentAdvisor.url}}"
    >Advising Assignments</a>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucReportingCenter.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucReportingCenter"
      data-text="Reporting Center"
    ></div>
  </li>
  <li data-ng-if="api.user.profile.features.csAdvisingGteForms && ucAdvisingResources.ucAdvisingLinks.ucGteformsWorkcenter.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucGteformsWorkcenter"
      data-text="GTE Forms"
    ></div>
  </li>
  <!-- This URL is mislabelled in the API, it's in fact the scheduler view link -->
  <li data-ng-if="api.user.profile.features.csAdvisingSchedulerView && ucAdvisingResources.ucAdvisingLinks.classSearch.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.classSearch"
      data-text="Schedule of Classes - Scheduler View"
    ></div>
  </li>
  <!-- This URL is mislabelled in the API, it's in fact the class search link -->
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.scheduleClasses.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.scheduleClasses"
      data-text="Schedule of Classes - Class Search"
    ></div>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlanner.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlanner"
      data-text="Multi-Year Academic Planner"
    ></div>
  </li>
</ul>
