<ul class="cc-list-links">
  <li data-ng-if="csLinks.ucServiceIndicators.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="csLinks.ucServiceIndicators"
    ></div>
  </li>
  <li data-ng-if="csLinks.ucStudentAdvisor.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="csLinks.ucStudentAdvisor"
    ></div>
  </li>
  <li data-ng-if="csLinks.ucReportingCenter.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="csLinks.ucReportingCenter"
    ></div>
  </li>
  <li data-ng-if="api.user.profile.features.csAcademicProgressReport && links.ucAcademicProgressReport.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="links.ucAcademicProgressReport"
    ></div>
  </li>
  <li data-ng-if="csLinks.ucEformsCenter.url">
    <a
      data-ng-href="{{csLinks.ucEformsCenter.url}}"
      data-ng-bind="csLinks.ucEformsCenter.name"
    ></a>
  </li>
  <li data-ng-if="csLinks.ucEformsWorkList.url">
    <a
      data-ng-href="{{csLinks.ucEformsWorkList.url}}"
      data-ng-bind="csLinks.ucEformsWorkList.name"
    ></a>
  </li>
  <li data-ng-if="links.webNowDocuments.url">
    <a
      data-ng-href="{{links.webNowDocuments.url}}"
      data-ng-bind="links.webNowDocuments.name"
    ></a>
  </li>
  <li data-ng-if="csLinks.ucMultiYearAcademicPlannerGeneric.url">
    <a
      data-ng-href="{{csLinks.ucMultiYearAcademicPlannerGeneric.url}}"
      data-ng-bind="csLinks.ucMultiYearAcademicPlannerGeneric.name"
    ></a>
  </li>
  <li data-ng-if="csLinks.ucAppointmentSystem.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="csLinks.ucAppointmentSystem"
    ></div>
  </li>

  <!-- This URL is mislabelled in the API, it's in fact the scheduler view link -->
  <li data-ng-if="api.user.profile.features.csAdvisingSchedulerView && links.classSearch.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="links.classSearch"
      data-text="Schedule of Classes - Scheduler View"
    ></div>
  </li>

  <li data-ng-if="csLinks.ucClassSearch.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="csLinks.ucClassSearch"
    ></div>
  </li>
</ul>
