<ul class="cc-list-links">
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucServiceIndicator.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucServiceIndicator"
    ></div>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucStudentAdvisor.url">
    <a
      data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.ucStudentAdvisor.url}}"
    >Advising Assignments</a>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucReportingCenter.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucReportingCenter"
    ></div>
  </li>
  <li data-ng-if="api.user.profile.features.csAcademicProgressReport && ucAdvisingResources.ucAdvisingLinks.ucAcademicProgressReport.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucAcademicProgressReport"
    ></div>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.eformsCenter.url">
    <a
      data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.eformsCenter.url}}"
      data-ng-bind="ucAdvisingResources.ucAdvisingLinks.eformsCenter.name"
    ></a>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.eformsWorkList.url">
    <a
      data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.eformsWorkList.url}}"
      data-ng-bind="ucAdvisingResources.ucAdvisingLinks.eformsWorkList.name"
    ></a>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.webNowDocuments.url">
    <a
      data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.webNowDocuments.url}}"
      data-ng-bind="ucAdvisingResources.ucAdvisingLinks.webNowDocuments.name"
    ></a>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlannerGeneric.url">
    <a
      data-ng-href="{{ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlannerGeneric.url}}"
      data-ng-bind="ucAdvisingResources.ucAdvisingLinks.multiYearAcademicPlannerGeneric.name"
    ></a>
  </li>
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.ucAppointmentSystem.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.ucAppointmentSystem"
    ></div>
  </li>
  <!-- This URL is mislabelled in the API, it's in fact the scheduler view link -->
  <li data-ng-if="api.user.profile.features.csAdvisingSchedulerView && ucAdvisingResources.ucAdvisingLinks.classSearch.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.classSearch"
      data-text="Schedule of Classes - Scheduler View"
    ></div>
  </li>
  <!-- This URL is mislabelled in the API, it's in fact the class search link -->
  <li data-ng-if="ucAdvisingResources.ucAdvisingLinks.scheduleClasses.url">
    <div
      data-cc-campus-solutions-link-item-directive
      data-link="ucAdvisingResources.ucAdvisingLinks.scheduleClasses"
      data-text="Schedule of Classes - Class Search"
    ></div>
  </li>
</ul>
