<div class="cc-widget cc-widget-advising-resources" data-ng-controller="AdvisingResourcesController">
  <div class="cc-widget-title">
    <h2>Advising Resources</h2>
  </div>
  <div data-cc-spinner-directive="advisingResources.isLoading">
    <div class="cc-list-link-container" data-ng-if="ucAdvisingResources.ucAdvisingFavoriteReports.length">
      <h3>Favorite Reports</h3>
      <ul class="cc-list-links">
        <li data-ng-repeat="report in ucAdvisingResources.ucAdvisingFavoriteReports">
          <div
            data-cc-campus-solutions-link-item-directive
            data-link="report"
          ></div>
        </li>
      </ul>
    </div>

    <div class="cc-list-link-container">
      <h3>Other</h3>

      <div data-ng-include="'widgets/advisor/advising_links.html'"></div>

    </div>
  </div>
</div>
