// Canvas Button Styles
.bc-canvas-button,
.bc-main .cc-widget-webcast .cc-button,
.bc-canvas-embedded .cc-page-roster .cc-roster-search .cc-button {
  background: $bc-color-button-background;
  border: 1px solid $bc-color-button-border;
  border-radius: 3px;
  color: $bc-color-button-color;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 2px;
  overflow: hidden;
  padding: 8px 14px;
  text-shadow: none;
  transition: background-color .2s ease-in-out 0s;
  vertical-align: middle;
  &:hover, &:active, &:focus {
    background: $bc-color-button-hover-background;
    border-color: $bc-color-button-border;
    color: $bc-color-button-color;
    text-decoration: none;
  }
  &[disabled] {
    color: $bc-color-button-color;
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }
}

a.bc-canvas-button {
  margin-bottom: 0;
  padding: 8px 14px;
}

.bc-canvas-button-primary,
.bc-canvas-embedded .cc-page-roster .cc-roster-search .cc-button-blue {
  background: $bc-color-button-primary-background;
  border: 1px solid $bc-color-button-primary-border;
  color: $bc-color-button-primary-color;
  &:hover, &:active, &:focus {
    background: $bc-color-button-primary-hover-background;
    border-color: $bc-color-button-primary-border;
    box-shadow: none;
    color: $bc-color-button-primary-color;
  }
  &[disabled] {
    color: $bc-color-button-primary-color;
  }
}

.bc-canvas-button-small {
  font-size: 12px;
  padding: 2px 8px;
}

.bc-canvas-button-selected, .bc-main .cc-widget-webcast .cc-button-selected {
  background: $bc-color-button-selected-background;
  border-color: $bc-color-button-selected-border;
  color: $bc-color-button-selected-color;
}

.bc-canvas-form {
  label {
    padding: 9px 0;
  }
  input[type="text"] {
    border: 1px solid $bc-color-grey;
    border-radius: 3px;
    color: $bc-color-off-black;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 8px;
    &[disabled] {
      color: $bc-color-grey;
    }
  }
}
