.cc-enrollment-card {
  .cc-enrollment-card-advisors-consult {
    margin: 0 10px;
  }
  .cc-enrollment-card-advisors-container {
    padding-bottom: 0;
  }
  .cc-enrollment-card-advisors-list {
    margin: 10px 10px 0;
    > li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  .cc-enrollment-card-enrolled-links {
    margin: 0 0 10px;
    > div:not(:last-child) {
      padding-right: 5px;
      &::after {
        content: "|";
      }
    }
  }
  .cc-enrollment-card-head {
    margin: 0 10px;
    padding-bottom: 0;
  }
  .cc-enrollment-card-header-title {
    font-size: 14px;
  }
  .cc-enrollment-card-date {
    padding-right: 10px;
  }
  .cc-enrollment-card-headersub-title {
    font-size: 13px;
  }
  .cc-enrollment-card-icon {
    padding-right: 5px;
  }
  .cc-enrollment-card-margin-bottom {
    margin-bottom: 10px;
  }
  .cc-enrollment-card-margin-top {
    margin-top: 10px;
  }
  .cc-enrollment-card-section {
    padding: 5px 10px;
  }
  .cc-enrollment-card-section-content {
    margin: 10px 0;
  }
}
