.cc-flex {
  display: flex;
}
.cc-flex-align-base {
  align-items: baseline;
}
.cc-flex-align-center {
  align-items: center;
}
.cc-flex-justify-end {
  justify-content: flex-end;
}
.cc-flex-space-between {
  justify-content: space-between;
}
.cc-flex-space-between-horizontal-5 > div {
  &:not(:first-child) {
    margin-left: 5px;
  }
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.cc-flex-space-between-vertical-15 > div {
  &:not(:first-child) {
    margin-top: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.cc-flex-wrap {
  flex-wrap: wrap;
}
