// Foundation overrides
$body-font-color: #474747;
$body-font-family: Arial, sans-serif;
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$primary-color: #2683bc;

// Responsive
$small-breakpoint: (767px);
$medium-breakpoint: (1025px);
$screen: "only screen";
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{$small-breakpoint})";
$medium-up: "#{$screen} and (min-width:#{$small-breakpoint + 1})";
$medium-only: "#{$screen} and (min-width:#{$small-breakpoint + 1}) and (max-width:#{$medium-breakpoint})";
