.cc-list-bullets {
  margin: 10px 10px 0 15px;
  li:before {
    color: $cc-color-list-block;
    content: '\25A0';
    float: left;
    margin-left: -16px;
    margin-top: -2px;
    padding-right: 8px;
  }
}
.cc-list-links {
  margin: 10px 0;
  a {
    display: block;
    margin-left: 16px;
    &:before {
      color: $cc-color-list-block;
      content: '\25A0';
      float: left;
      margin-left: -16px;
      margin-top: -2px;
      padding-right: 8px;
    }
  }
  .cc-list-links-nested-dash {
    display: block;
    margin-left: 32px;
    &:before {
      content: '\2013';
    }
  }
  .cc-list-links-text {
    margin-left: 16px;
    &:before {
      float: left;
      margin-top: -2px;
      padding-right: 10px;
    }
  }
}
.cc-list-link-container {
  padding: 0 15px;
  h3 {
    font-size: 14px;
    margin: 10px 0;
  }
}
