.cc-widget-profile {
  .cc-widget-profile-message-text {
    line-height: 1.6;
    margin-bottom: 0;
  }
  .cc-widget-profile-picture {
    padding: 0 10px 10px 0;
  }
  .cc-widget-profile-content {
    margin-left: 92px;
    padding-bottom: 10px;
  }
  .cc-widget-profile-footnote {
    font-size: 12px;
    font-style: italic;
  }
  .cc-widget-profile-section-block {
    margin: 0 0 5px;
  }
  .cc-widget-profile-table {
    th {
      width: 92px;
    }
  }
  .cc-widget-profile-content-fullname {
    font-size: 16px;
  }
  .cc-widget-profile-picture-not-available {
    background: $cc-color-shadow-color;
    display: block;
    font-size: 80px;
    height: 96px;
    padding-top: 10px;
    text-align: center;
    width: 72px;
    i {
      color: $cc-color-white;
    }
  }
}
