// Custom scrollbars in webkit
.cc-scroll {
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  &::-webkit-scrollbar-button:start:decrement {
    display: block;
    height: 5px;
  }
  &::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
  }
  &::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track:enabled {
    background-color: $cc-color-grey-transparent;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:vertical {
    background-color: $cc-color-black-transparent;
    border-radius: 5px;
    height: 50px;
  }
  &::-webkit-scrollbar-thumb:horizontal {
    background-color: $cc-color-black-transparent;
    border-radius: 5px;
    width: 50px;
  }
}
