// Select
// We need to wrap a select in a <div> to have consistent styling
// Based on http://jsbin.com/maxufesi/1
// TODO: Replace usage of this with cc-inline-select below
.cc-select {
  background: linear-gradient($cc-color-white, $cc-color-button-regular), $cc-color-white;
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  &:before {
    background: url('../images/svg/select_arrow_20x28.svg') no-repeat right center, linear-gradient($cc-color-white, $cc-color-button-regular);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    z-index: -1;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    color: $cc-color-medium-grey;
    cursor: pointer;
    font-size: 11px;
    margin: 0;
    padding: 4px 25px 5px 10px;
    width: 100%;
    &::-ms-expand {
      display: none;
    }
  }
}
:-moz-any(.cc-select):before {
  background-color: $cc-color-white;
  pointer-events: none;
  z-index: 1;
}

// TODO: Apply this to entire application to replace cc-select
.cc-inline-select {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  background: url('../images/svg/select_arrow_20x28.svg') no-repeat right center, linear-gradient($cc-color-white, $cc-color-button-regular);
  border: 1px solid $cc-color-button-border;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  height: 25px;
  overflow: hidden;
  padding: 4px 25px 5px 10px;
  width: auto;
}

@media print {
  .cc-select {
    border-radius: 0;
    &:before {
      background: $cc-color-white;
    }
  }
}
