.cc-user-search {
  form {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    label {
      font-weight: bold;
      margin-top: 5px;
      text-align: left;
    }
    input {
      padding: 5px;
    }
    button {
      margin: 0 0 5px 5px;
    }
  }
  .cc-user-search-results {
    padding: 0 15px 10px;
    .cc-widget-list {
      padding: 2px 0;
    }
  }
  .cc-user-search-item {
    padding: 0 0 2px;
  }
}
