<div
  class="cc-page-academics"
  data-cc-spinner-directive
  data-ng-show="canViewAcademics"
  data-ng-switch data-on="currentCategory.title"
>
  <div>
    <h1 class="cc-heading-page-title">
      <a href="/academics">My Academics</a> &raquo;
      <a data-ng-href="/academics/semester/{{selectedSemester.slug}}"><span data-ng-bind="selectedSemester.name"></span></a> &raquo;
      <span data-ng-bind="selectedCourse.course_code"></span>
      <span data-ng-if="selectedSection" data-ng-bind-template=" &raquo; {{selectedSection.section_label}}"></span>
      <div class="cc-academics-teaching-button-group" data-ng-if="isInstructorOrGsi">
        <ul class="cc-button-group cc-even-{{classInfoCategories.length}}" role="tablist">
          <li data-ng-repeat="classInfoCategory in classInfoCategories">
            <a class="cc-button cc-academics-class-info-category-button"
              data-cc-accessible-focus-directive=""
              data-ng-class="{'cc-button-selected cc-button-selected-roster':(currentCategory === classInfoCategory)}"
              aria-selected="{{currentCategory === classInfoCategory}}"
              role="tab"
              data-ng-bind="classInfoCategory.title"
              data-ng-href="{{selectedCourse.url}}/{{classInfoCategory.path}}">
            </a>
          </li>
        </ul>
      </div>
    </h1>
  </div>

  <div data-ng-switch-when="Class Info" role="tabpanel" aria-live="polite">

    <div class="medium-6 large-4 columns cc-academics-row-margin">
      <div class="cc-widget">
        <div class="cc-widget-title">
          <h2>Class Information</h2>
        </div>
        <div class="cc-widget-padding">
          <h3>Class Title</h3>
          <div data-ng-bind="selectedCourse.title"></div>

          <h3 data-ng-if="selectedCourse.listings.length > 1">Cross-listed As</h3>
          <div data-ng-if="selectedCourse.listings.length > 1" data-ng-repeat="listing in selectedCourse.listings">
            <span data-ng-bind="listing.course_code"></span>
          </div>

          <h3 data-ng-if="selectedCourse.role">My Role</h3>
          <div data-ng-bind="selectedCourse.role"></div>

          <h3 data-ng-if="selectedCourse.sections.length && !isInstructorOrGsi">My Enrollment</h3>

          <div class="cc-table" data-ng-if="selectedCourse.sections.length && !isInstructorOrGsi">
            <table>
              <thead>
                <tr>
                  <th width="25%">Section</th>
                  <th>Class Number</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="sec in selectedCourse.sections">
                  <td data-ng-bind="sec.section_label"></td>
                  <td data-ng-bind="sec.ccn"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <h3 data-ng-if="!isInstructorOrGsi && (selectedCourseCountSchedules || selectedCourse.units || selectedCourse.gradeOption)">Class Info</h3>

          <h4 data-ng-if="!isInstructorOrGsi">Course Offering</h4>
          <div data-ng-if="!isInstructorOrGsi" class="cc-table">
            <table class="cc-academics-class-info" data-ng-repeat="section in selectedCourse.sections" data-ng-if="section.is_primary_section">
              <tbody>
                <tr class="cc-academics-class-primary-row" data-ng-if="selectedCourse.multiplePrimaries && !selectedSection">
                  <td data-ng-bind="section.section_label"></td>
                </tr>
                <tr>
                  <th scope="row" width="25%">Units</th>
                  <td data-ng-if="section.units" data-ng-bind="section.units  | number:1"></td>
                  <td data-ng-if="!section.units">--</td>
                </tr>
                <tr data-ng-if="section.gradeOption">
                  <th scope="row">Grading</th>
                  <td data-ng-bind="section.gradeOption"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <h3 data-ng-if="isInstructorOrGsi && classScheduleCount.total">Section Schedules</h3>
          <h4 data-ng-if="!isInstructorOrGsi && classScheduleCount.total">Section Schedules</h4>

          <div class="cc-academics-schedules" data-ng-if="classScheduleCount.recurring">
            <div class="cc-academics-column-labels cc-academics-schedule-label">Recurring Schedules</div>
            <div class="row collapse" data-ng-repeat="section in selectedCourse.sections" data-ng-if="!section.scheduledWithCcn">
              <div class="small-3 columns" data-ng-if="section.schedules.recurring.length" data-ng-bind="section.section_label"></div>
              <div class="small-9 columns">
                <div data-ng-repeat="schedule in section.schedules.recurring" data-ng-if="section.schedules.recurring" class="cc-academics-schedule-room">
                  <span data-ng-bind="schedule.schedule"></span> |
                  <span data-ng-bind="schedule.roomNumber"></span> <span data-ng-bind="schedule.buildingName"></span> <br>
                </div>
              </div>
            </div>
          </div>

          <div class="cc-academics-schedules">
            <div class="cc-academics-column-labels cc-academics-schedule-label">Individual Sessions</div>
            <div class="row collapse" data-ng-repeat="section in selectedCourse.sections" data-ng-if="!section.scheduledWithCcn">
              <div class="small-3 columns" data-ng-if="section.estimated_final_exam.length || section.schedules.oneTime.length" data-ng-bind="section.section_label"></div>
              <div class="small-9 columns">
                <div data-ng-repeat="schedule in section.schedules.oneTime" data-ng-if="section.schedules.oneTime" class="cc-academics-schedule-room">
                  <span data-ng-bind="schedule.date"></span> |
                  <span data-ng-bind="schedule.time"></span> |
                  <span data-ng-bind="schedule.roomNumber"></span> <span data-ng-bind="schedule.buildingName"></span> <br>
                </div>
                <div ng-repeat="exam in section.estimated_final_exam" data-ng-if="section.estimated_final_exam.length" class="cc-academics-schedule-room">
                  <span data-ng-bind="exam.exam_date"></span> |
                  <span data-ng-bind="exam.exam_time"></span> |
                  <span data-ng-bind="exam.exam_location"></span> <br>
                </div>
              </div>
            </div>
          </div>

          <div data-ng-if="selectedCourse.sections.length && isInstructorOrGsi">
            <h3>Class Number</h3>
            <div class="cc-table">
              <table>
                <thead>
                  <tr>
                    <th width="25%">Section</th>
                    <th>Class Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="sec in selectedCourse.sections">
                    <td data-ng-bind="sec.section_label"></td>
                    <td data-ng-bind="sec.ccn"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div data-ng-if="selectedCourseLongInstructorsList" data-ng-include="'academics_class_sites.html'" ></div>
    </div>

    <div class="medium-6 large-4 cc-column-2 columns" data-ng-if="selectedCourseCountInstructors">
      <div class="cc-widget">
        <div class="cc-widget-title">
          <h2 data-ng-pluralize count="selectedCourseCountInstructors" when="{'1': 'Instructor', 'other': 'Instructors'}">Instructors</h2>
        </div>
        <div class="cc-widget-padding">
          <div data-ng-repeat="section in selectedCourse.sections" data-ng-if="!section.scheduledWithCcn">
            <h3 data-ng-bind="section.section_label"></h3>
            <ul class="cc-academics-instructors">
              <li data-ng-repeat="instructor in section.instructors">
                <a data-ng-href="http://www.berkeley.edu/directory/results?search-type=uid&search-base=all&search-term={{instructor.uid}}" data-ng-bind="instructor.name"></a>
                <a data-ng-if="instructor.email" title="Email {{instructor.name}}" data-ng-href="mailto:{{instructor.email}}">
                  <span class="cc-visuallyhidden">Email {{instructor.name}}</span>
                  <i class="cc-icon fa fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div data-ng-if="!selectedCourseLongInstructorsList" data-ng-include="'academics_class_sites.html'" ></div>
    </div>

    <div class="medium-6 large-4 columns cc-column-3">

      <div class="cc-widget cc-widget-webcast" data-ng-if="api.user.profile.features.videos">
        <div class="cc-widget-title">
          <h2>Course Captures</h2>
        </div>
        <div data-ng-include src="'widgets/webcast.html'"></div>
      </div>

      <div data-ng-if="selectedSemester.timeBucket === 'current' || selectedSemester.timeBucket === 'future'" class="cc-widget" data-ng-controller="TextbookController" data-ng-if="api.user.profile.features.textbooks">
        <div class="cc-widget-title">
          <h2>Textbooks</h2>
        </div>
        <div data-cc-spinner-directive>
          <div class="cc-widget-padding">
            <div class="cc-text-line-height" data-ng-if="!textbooksCount && textbookError.body" data-ng-bind-html="textbookError.body"></div>
            <div data-ng-if="textbooksCount" data-ng-repeat="sectionBookList in bookListsBySection" class="cc-academics-class-textbooks">
              <h3 class="cc-book-title" data-ng-bind="sectionBookList.sectionLabel" data-ng-if="bookListsBySection.length > 1"></h3>
              <div data-ng-repeat="books in sectionBookList">
                <div data-ng-if="books.items.length" data-ng-include="'textbook.html'"></div>
                <div class="cc-text-line-height" data-ng-if="!books.items.length" data-ng-bind-html="books.bookUnavailableError"></div>
              </div>
              <div class="cc-text-line-height" data-ng-if="textbooksCount && sectionBookList.errorMessage" data-ng-bind="sectionBookList.errorMessage"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-switch-when="Enrollment" role="tabpanel" aria-live="polite" class="cc-clearfix"
      data-ng-controller="ClassInfoEnrollmentController"
      data-cc-spinner-directive
      data-cc-spinner-directive-message="Downloading sections. This may take a minute for larger classes.">

    <div class="cc-widget" data-ng-if="api.user.profile.features.classInfoEnrollmentSectionOverview">
      <div class="cc-widget-title">
        <h2 class="cc-left">Section Overview</h2>
      </div>
      <div class="cc-widget-padding">
        <strong>Note: </strong> Use headers to sort columns

        <div class="cc-table cc-academics-class-enrollment-table">
          <table>
            <thead class="cc-academics-class-enrollment-table-head">
              <th data-cc-sortable-column-directive="is_primary" data-column-heading="P/S"></th>
              <th data-cc-sortable-column-directive="section_label" data-column-heading="Section"></th>
              <th data-cc-sortable-column-directive="ccn" data-column-heading="Class Number"></th>
              <th class="show-for-large-up">Day and Time</th>
              <th class="show-for-large-up">Location</th>
              <th data-cc-sortable-column-directive="enroll_count"
                data-column-heading="{{groupedTableHeading('Enrollment', 'On List', true)}}"
                class="cc-academics-class-enrollment-header-separator"></th>
              <th data-cc-sortable-column-directive="enroll_open"
                data-column-heading="{{groupedTableHeading('Enrollment', 'Open', false)}}"></th>
              <th data-cc-sortable-column-directive="enroll_limit"
                data-column-heading="{{groupedTableHeading('Enrollment', 'Capacity', false)}}" class="show-for-medium-up"></th>
              <th data-cc-sortable-column-directive="waitlist_count"
                data-column-heading="{{groupedTableHeading('Wait List', 'On List', true)}}"
                class="cc-academics-class-enrollment-header-separator"></th>
              <th data-cc-sortable-column-directive="waitlist_open"
                data-column-heading="{{groupedTableHeading('Wait List', 'Open', false)}}"></th>
              <th data-cc-sortable-column-directive="waitlist_limit"
                data-column-heading="{{groupedTableHeading('Wait List', 'Capacity', false)}}" class="show-for-medium-up"></th>
            </thead>
            <tbody data-ng-repeat="section in sortedSections = (sections | orderBy:tableSort.column:tableSort.reverse)"
                   data-ng-class-even="'cc-academics-even'"
                   data-ng-if="sections.length">
              <tr class="cc-academics-class-enrollment-table-row">
                <td>
                  <strong data-ng-bind="(section.is_primary) ? 'P':'S'"></strong>
                </td>
                <td>
                  <strong data-ng-bind="section.section_label"></strong>
                </td>
                <td data-ng-bind="section.ccn"></td>
                <td class="show-for-large-up">
                  <div data-ng-repeat="date in section.dates" data-ng-bind="date"></div>
                </td>
                <td class="show-for-large-up">
                  <div data-ng-repeat="location in section.locations" data-ng-bind="location"></div>
                </td>
                <td data-ng-bind="section.enroll_count"></td>
                <td data-ng-bind="section.enroll_open"></td>
                <td data-ng-bind="section.enroll_limit" class="show-for-medium-up"></td>
                <td data-ng-bind="section.waitlist_count"></td>
                <td data-ng-bind="section.waitlist_open"></td>
                <td data-ng-bind="section.waitlist_limit" class="show-for-medium-up"></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="column cc-academics-row-margin"
         data-cc-academics-class-info-enrollment-directive
         data-class-name="selectedCourse.course_code"
         data-instructor-name="api.user.profile.preferredName"
         data-seats-limit="selectedCourse.waitlistLimit"
         data-semester-name="selectedSemester.name"
         data-show-position="true"
         data-students="waitlistedStudents"
         data-title="Wait List"
    ></div>
    <div class="column cc-academics-row-margin"
         data-cc-academics-class-info-enrollment-directive
         data-class-name="selectedCourse.course_code"
         data-instructor-name="api.user.profile.preferredName"
         data-seats-limit="selectedCourse.enrollLimit"
         data-semester-name="selectedSemester.name"
         data-show-position="false"
         data-students="enrolledStudents"
         data-title="Enrollment List"
    ></div>
  </div>

  <div data-ng-switch-when="Roster" role="tabpanel" aria-live="polite" class="cc-clearfix cc-column-3">
    <div class="cc-widget">
      <div class="cc-widget-title">
        <h2>Roster</h2>
      </div>
      <div data-ng-include src="'canvas_embedded/roster.html'"></div>
    </div>
  </div>
</div>
