<div class="cc-page-academics" data-cc-spinner-directive>
  <div data-ng-if="canViewAcademics"
    data-ng-class="{'cc-two-column-layout':(!api.user.profile.roles.student)}">
    <div class="column">
      <h1 class="cc-heading-page-title">My Academics</h1>
    </div>

    <div
      class="medium-8 columns cc-academics-row-margin"
      data-ng-if="selectedTeachingSemester && !api.user.profile.hasStudentHistory && !api.user.profile.roles.student">
      <div data-ng-include="'academics_semester_classes.html'"></div>
    </div>

    <div
      class="medium-6 large-4 columns cc-academics-row-margin"
      data-ng-if="api.user.profile.hasStudentHistory || api.user.profile.roles.student || api.user.profile.roles.applicant">
      <div data-ng-include src="'academics_student_profile.html'"></div>
      <div data-ng-include src="'academics_status_holds_blocks.html'" data-ng-if="showStatusAndBlocks"></div>
    </div>

    <div
      data-ng-class="{'medium-6':(api.user.profile.roles.student), 'medium-4':(!api.user.profile.roles.student)}"
      class="large-4 columns cc-column-2 cc-academics-row-margin">
      <div data-ng-include src="'academics_semesters.html'" data-ng-if="api.user.profile.hasStudentHistory && semesters.length"></div>
      <div data-ng-include src="'academics_teaching.html'" data-ng-if="!api.user.profile.delegateActingAsUid && hasTeachingClasses"></div>
    </div>

    <div class="medium-6 large-4 columns cc-column-3">
      <div data-ng-include="'widgets/enrollment_card.html'" data-ng-if="api.user.profile.features.csEnrollmentCard"></div>

      <div data-ng-include="'widgets/final_exam_schedule.html'" data-ng-if="api.user.profile.roles.student && !api.user.profile.delegateActingAsUid && api.user.profile.features.finalExamSchedule"></div>

      <div data-ng-include="'academics_ls_advising.html'" data-ng-if="showLegacyAdvising"></div>

      <div data-ng-include="'widgets/my_advising.html'" data-ng-if="showAdvising"></div>

      <div data-ng-include="'widgets/student_university_requirements.html'" data-ng-if="academics.universityRequirements && isUndergraduate"></div>

      <div data-ng-include="'widgets/transfer_credit.html'" data-ng-if="api.user.profile.features.csTransferCredit && api.user.profile.roles.student"></div>
    </div>
  </div>
</div>
<div data-ng-include="'404.html'" data-ng-if="!canViewAcademics"></div>
