<div class="cc-widget cc-academics-status-holds-blocks" data-ng-controller="AcademicsStatusHoldsBlocksController">

  <div class="cc-widget-title">
    <h2 data-ng-bind="statusHoldsBlocks.enabledSections | andFilter"></h2>
  </div>

  <div class="cc-widget-padding">

    <div data-ng-if="statusHoldsBlocks.enabledSections.indexOf('Status') !== -1">
      <h3>Status</h3>
      <div class="cc-table">
        <table class="cc-academics-status-holds-blocks-status-table">
          <thead>
            <tr>
              <th scope="col" width="130px">Type</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-if="api.user.profile.features.regstatus">
              <th class="cc-table-subheader" scope="row">Registration</td>
              <td>
                <i class="cc-icon fa"
                   data-ng-class="{true:'fa-check-circle cc-icon-green',false:'fa-exclamation-circle cc-icon-red'}[studentInfo.regStatus.summary=='Registered']" data-ng-if="studentInfo.regStatus.summary === 'Registered' || studentInfo.regStatus.needsAction">
                </i>
                <span data-ng-bind="studentInfo.regStatus.summary"></span>
              </td>
            </tr>
            <tr data-ng-if="api.user.profile.features.regstatus">
              <td colspan="2" data-ng-bind-html="studentInfo.regStatus.explanation"></td>
            </tr>
          </tbody>
          <tbody data-ng-if="residency.isLoading">
            <tr>
              <td colspan="2">
                <div data-cc-spinner-directive="residency.isLoading"></div>
              </td>
            </tr>
          </tbody>
          <tbody data-ng-if="!residency.isLoading">
            <tr>
              <th class="cc-table-subheader" scope="row">California Residency</th>
              <td>
                <i class="cc-icon fa fa-exclamation-circle cc-icon-red" aria-hidden="true" data-ng-if="residency.code === ''"></i>
                <i class="cc-icon fa fa-warning cc-icon-gold" aria-hidden="true" data-ng-if="residency.code === 'PEND'"></i>
                <i class="cc-icon fa fa-check-circle cc-icon-green" aria-hidden="true" data-ng-if="residency.code === 'NON' || residency.code === 'RES'"></i>
               <span data-ng-bind="residency.description"></span>
              </td>
            </tr>
            <tr data-ng-if="slr.deeplink">
              <td colspan="2" data-ng-include="'california_residency_status.html'"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div data-ng-if="statusHoldsBlocks.enabledSections.indexOf('Holds') !== -1">
      <h3>Active Holds</h3>
      <div data-ng-include="'widgets/holds.html'"></div>
    </div>

    <div data-ng-if="statusHoldsBlocks.enabledSections.indexOf('Blocks') !== -1">
      <h3>Active Blocks</h3>
      <div data-ng-if="!regblocks.errored">
        <div data-ng-include="'academics_regblocks.html'"></div>
      </div>
      <div data-ng-if="regblocks.errored">
        <i class="fa fa-exclamation-triangle cc-icon-red cc-errored"></i> Block message is currently unavailable.
      </div>
    </div>

  </div>
</div>
