<div class="cc-widget cc-widget-profile" data-ng-controller="AcademicProfileController">
  <div class="cc-widget-title">
    <h2>Profile</h2>
  </div>

  <div class="cc-widget-padding cc-flex-space-between-vertical-15">

    <div data-ng-if="showProfileMessage">
      <div data-ng-if="collegeAndLevel.errored">
        There was a problem reaching campus services.
        <span data-ng-if="api.user.profile.isLegacyStudent">
          Please try again later, or check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>.
        </span>
      </div>
      <div data-ng-if="!collegeAndLevel.errored">
        <div data-ng-if="api.user.profile.roles.concurrentEnrollmentStudent">
          <div class="cc-widget-profile-message-text">
            You are a concurrent enrollment student.
          </div>
          <ul class="cc-list-bullets">
            <li>If you are a UC Extension student, more information is available at <a href="http://extension.berkeley.edu/static/studentservices/concurrent/">UC Berkeley Extension</a>.</li>
            <li>If you are an EAP student, more information is available at the <a href="http://internationaloffice.berkeley.edu/students/exchange/main">Berkeley International Office</a>.</li>
          </ul>
        </div>
        <div data-ng-if="!api.user.profile.roles.student && !api.user.profile.roles.concurrentEnrollmentStudent">
          <h3>Standing</h3>
          <div data-ng-if="api.user.profile.roles.exStudent" class="cc-widget-profile-message-text">
            You are not currently considered an active student.
          </div>
        </div>
        <div data-ng-if="(api.user.profile.roles.student || api.user.profile.roles.applicant) && !api.user.profile.roles.concurrentEnrollmentStudent">
          <div data-ng-if="!isProfileCurrent">
            <div data-ng-if="transitionTerm.registered" class="cc-widget-profile-message-text">
              You are registered for the <span data-ng-bind="transitionTerm.termName"></span> term, but complete profile information is not available.
              <span data-ng-if="api.user.profile.isLegacyStudent">
                Please check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>
                for the most current information.
              </span>
            </div>
            <div data-ng-if="!transitionTerm.registered" class="cc-widget-profile-message-text">
              You are not officially registered for the <span data-ng-bind="transitionTerm.termName"></span> term.
            </div>
          </div>
          <div data-ng-if="!transitionTerm">
            <div data-ng-if="api.user.profile.roles.registered" class="cc-widget-profile-message-text">
              You are registered as a student, but complete profile information is not available.
              <span data-ng-if="api.user.profile.isLegacyStudent">
                Please check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>
                for the most current information.
              </span>
            </div>
            <div data-ng-if="!api.user.profile.roles.registered" class="cc-widget-profile-message-text">
              You are not registered as a student for the <span data-ng-bind="collegeAndLevel.termName"></span> term.
              <span data-ng-if="api.user.profile.isLegacyStudent">
                Please check <a href="https://sis.berkeley.edu/bearfacts/student/studentMain.do?bfaction=welcome">Bear Facts</a>
                for information on other terms.
              </span>
            </div>
          </div>
          <div class="cc-academics-nocontent-container" data-ng-if="!isAcademicInfoAvailable">
            <div class="cc-widget-profile-message-text">
              <span data-ng-if="api.user.profile.roles.registered || (transitionTerm && transitionTerm.registered)">
                More information will display here when available.
              </span>
              <span data-ng-if="!api.user.profile.roles.registered && !(transitionTerm && transitionTerm.registered)">
                More information will display here when your academic status changes.
              </span>
              Check back for:
            </div>
            <ul class="cc-list-bullets">
              <li>Class enrollments, including waitlist information.</li>
              <li>Your academic status, including standing, GPA, units, major, college, and more.</li>
              <li>Your registration status, including any blocks limiting your access to campus services.</li>
              <li>Course information, including class and exam schedules, class locations, textbooks, and recordings.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3 data-ng-if="!isProfileCurrent && api.user.profile.roles.student && collegeAndLevel.termName">Academic status as of <span data-ng-bind="collegeAndLevel.termName"></span></h3>
      <div data-ng-if="showProfileMessage" class="cc-table-top-border"></div>

      <div class="cc-left cc-widget-profile-picture" data-ng-if="!api.user.profile.delegateActingAsUid">
        <div data-ng-if="api.user.profile.hasPhoto">
          <img data-cc-image-loaded-directive="profilePictureLoading" alt="{{api.user.profile.fullName}}'s Profile Picture" data-ng-src="/api/my/photo" width="72" height="96">
        </div>
        <div data-ng-if="!api.user.profile.hasPhoto" class="cc-widget-profile-picture-not-available">
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="cc-left cc-widget-profile-picture" data-ng-if="api.user.profile.delegateActingAsUid">
        <div data-ng-include="'widgets/delegate_student_img.html'"></div>
      </div>

      <div class="cc-widget-profile-content">
        <div class="cc-widget-profile-content-fullname">
          <strong data-ng-bind="api.user.profile.fullName"></strong>
        </div>
      </div>

      <div data-ng-include="'widgets/academics/college_and_level.html'"></div>

      <div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="gpaUnits.totalUnits > 0">
        <table>
          <tbody>
            <tr>
              <th width="92px">Cumulative Units</th>
              <td><strong data-ng-bind="gpaUnits.totalUnits"></strong></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="cc-table cc-table-top-border cc-clearfix" data-ng-if="gpaUnits.cumulativeGpa > 0 && !studentInfo.isLawStudent">
        <table>
          <tbody>
            <tr>
              <th width="92px">GPA</th>
              <td>
                <button class="cc-button-link" data-ng-click="academics.showGPA = true" data-ng-show="!academics.showGPA">Show GPA</button>
                <div data-ng-show="academics.showGPA">
                  <span data-ng-bind="gpaUnits.cumulativeGpaFloat"></span> GPA
                  (<button class="cc-button-link" data-ng-click="academics.showGPA = false">Hide</button>)
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
