<div data-cc-spinner-directive="residency.isLoading">
  <span data-ng-if="residency.code === 'NON'">
    Please check your email for your determination letter.
  </span>
  <span data-ng-if="residency.code === ''">
    Please submit your <a data-cc-campus-solutions-link-directive="slr.deeplink.url"
    data-cc-campus-solutions-link-directive-enabled="{{slr.deeplink.isCsLink}}"
    data-cc-campus-solutions-link-directive-text="slr.backToText"
    data-cc-campus-solutions-link-directive-cache="'profile'"
    data-cc-outbound-enabled="false">Statement of Legal Residency</a>.
  </span>
  <span data-ng-if="residency.code === 'PEND'">
    Your Statement of Legal Residence is in review. Please <a data-cc-campus-solutions-link-directive="slr.deeplink.url"
    data-cc-campus-solutions-link-directive-enabled="{{slr.deeplink.isCsLink}}"
    data-cc-campus-solutions-link-directive-text="slr.backToText"
    data-cc-campus-solutions-link-directive-cache="'profile'"
    data-cc-outbound-enabled="false">check the status of your submission</a>.
  </span>
  <span data-ng-if="residency.code !== 'RES'">
     To learn more, read about <a href="http://registrar.berkeley.edu/tuition-fees-residency/residency-tuition-purposes/how-apply-state-tuition">residency information</a>.
  </span>
</div>
