<div data-cc-spinner-directive="residency.isLoading">
  <span data-ng-if="residency.code === ''">
    Please <a data-cc-campus-solutions-link-directive="slr.deeplink.url"
    data-cc-campus-solutions-link-directive-enabled="{{slr.deeplink.isCsLink}}"
    data-cc-campus-solutions-link-directive-text="slr.backToText"
    data-cc-campus-solutions-link-directive-cache="'profile'"
    data-cc-outbound-enabled="false">submit your Statement of Legal Residency</a>.
  </span>
  <span data-ng-if="residency.code === 'PEND'">
    Please <a data-cc-campus-solutions-link-directive="slr.deeplink.url"
    data-cc-campus-solutions-link-directive-enabled="{{slr.deeplink.isCsLink}}"
    data-cc-campus-solutions-link-directive-text="slr.backToText"
    data-cc-campus-solutions-link-directive-cache="'profile'"
    data-cc-outbound-enabled="false">submit your Statement of Legal Residency</a> if you have not done so. If already submitted you may <a data-cc-campus-solutions-link-directive="slr.deeplink.url"
    data-cc-campus-solutions-link-directive-enabled="{{slr.deeplink.isCsLink}}"
    data-cc-campus-solutions-link-directive-text="slr.backToText"
    data-cc-campus-solutions-link-directive-cache="'profile'"
    data-cc-outbound-enabled="false">check on the status of your submission</a>.
  </span>
  <span data-ng-if="residency.code !== 'RES'">
     To learn more, read about <a href="http://registrar.berkeley.edu/tuition-fees-residency">residency information</a>.
  </span>
</div>
