<div class="cc-page-status" data-ng-controller="DelegateLandingController">
  <h1 class="cc-visuallyhidden">Welcome to CalCentral</h1>
  <div class="cc-widget cc-page-status-container">
    <div class="cc-widget-title">
      <h2>Your Account Is Almost Ready</h2>
    </div>
    <div class="cc-widget-padding">
      <div class="cc-left cc-page-status-container-text">
        <h3>Wait a Few Seconds</h3>
        <p>
          Your account is almost ready. You will be automatically redirected to the next screen.
        </p>
        <p>
          If you have questions, please contact <a href="https://www.ets.berkeley.edu/calcentral-support">CalCentral Support</a>.
        </p>
      </div>
      <div class="cc-right cc-page-status-please-wait"></div>
    </div>
  </div>
</div>
