<div class="cc-widget" data-ng-controller="FacultyResourcesController">
  <div class="cc-widget-title">
    <h2>Faculty Resources</h2>
  </div>
  <div class="cc-widget-padding" data-cc-spinner-directive="facultyResources.isLoading">

    <h3>Action Center</h3>
    <ul class="cc-list-bullets">
      <li data-ng-if="facultyResources.eformsReviewCenterLink.url">
        <div data-cc-campus-solutions-link-item-directive data-link="facultyResources.eformsReviewCenterLink"></div>
      </li>
    </ul>

    <h3>Classes and Schedule</h3>
    <ul class="cc-list-bullets">
      <li><a href="http://schedule.berkeley.edu">Schedule of Classes</a></li>
      <li><a href="http://guide.berkeley.edu">Class Catalog:</a> Berkeley Academic Guide</li>
    </ul>

    <h3>Other</h3>
    <ul class="cc-list-bullets">
      <li><a href="https://www.ets.berkeley.edu/services-facilities/assistive-technology">Assistive Technology:</a> <abbr title="Americans with Disabilities Act">ADA</abbr> Support</li>
      <li><a href="https://www.ets.berkeley.edu/services-facilities/bcourses">bCourses:</a> Getting started and resources</li>
      <li><a href="https://www.ets.berkeley.edu/services-facilities/clickers">Clickers</a></li>
      <li><a href="https://www.ets.berkeley.edu/services-facilities/course-capture">Course Capture</a></li>
      <li><a href="https://www.ets.berkeley.edu/services-facilities/course-evaluations">Course Evaluations</a></li>
      <li><a href="https://www.ets.berkeley.edu/services-facilities/diy-media"><abbr title="Do it yourself">DIY</abbr> Media:</a> Flip your classroom</li>
      <li><a href="http://ais.berkeley.edu">Academic Innovation Studio</a></li>
    </ul>
  </div>
</div>
