<div class="cc-page-finaid" data-ng-controller="FinaidController" data-cc-spinner-directive="finaid.isLoading" data-ng-if="api.user.profile.features.csFinAidAwardCompare">
  <div class="row collapse">
    <div class="column">
      <h1 class="cc-heading-page-title cc-print-hide">
        <a href="/finances">My Finances</a>
        &raquo;
        <a data-ng-href="/finances/finaid/{{finaidYear.id}}">Financial Aid and Scholarships</a>
        &raquo;
        Compare Award Packages
      </h1>
    </div>

    <div data-ng-if="!canSeeFinaidData">
      Please see the <a href="/finances/finaid">Financial Aid and Scholarships</a> page to accept your T&amp;C and Title IV.
    </div>

    <div data-ng-if="canSeeFinaidData">
      <div class="large-8 medium-12 small-12 columns cc-column-last">
        <div data-ng-include="'widgets/finaid_awards_compare_widget.html'"></div>
      </div>
    </div>

  </div>
</div>
<div data-ng-include="'404.html'" data-ng-if="!api.user.profile.features.csFinAidAwardCompare"></div>
