<div class="cc-page-myfinances" data-ng-if="api.user.profile.hasFinancialsTab">
  <div class="row collapse">

    <div class="column">
      <h1 class="cc-heading-page-title">My Finances</h1>
    </div>

    <div class="medium-6 large-4 columns" data-ng-if="!api.user.profile.isApplicantOnly">
      <div data-ng-include="'cars_summary.html'" data-ng-if="!api.user.profile.isCampusSolutionsStudent"></div>
      <div data-ng-include="'widgets/billing_summary.html'" data-ng-if="api.user.profile.features.csBilling && api.user.profile.isCampusSolutionsStudent"></div>
      <div data-ng-include="'cal1card.html'"></div>
    </div>

    <div class="medium-6 large-4 cc-column-2 columns">
      <div data-ng-include="'widgets/finaid_summary.html'" data-ng-if="api.user.profile.features.csFinAid"></div>
      <div data-ng-include="'widgets/finaid_activity.html'" data-ng-if="!api.user.profile.isApplicantOnly"></div>
    </div>

    <div class="medium-6 large-4 cc-column-3 columns" data-ng-class="{'medium-pull-4':(api.user.profile.isApplicantOnly), 'cc-column-3':(!api.user.profile.isApplicantOnly)}">
      <div data-ng-include="'widgets/finances_links.html'"></div>
    </div>

  </div>
</div>
<div data-ng-include="'404.html'" data-ng-if="!api.user.profile.hasFinancialsTab"></div>
